{% block tecspro_modulobundle_grupo_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    {{ form_errors(form) }}

    <fieldset>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {{ form_row(form.translations) }}
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    {{ form_row(form.categoria) }}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    {{ form_row(form.orden) }}
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {{ form_row(form.constantes) }}
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {% include 'ModuloBundle:widget:add-formula.html.twig' with { 'form' : form.formulas } %}
            </div>
        </div>
    </fieldset>
{% endblock %}