{% macro prototipoFormulaVariable(entity) %}
    <div class='row rowremovevariable'>
        <div class='form-group'>
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_widget(entity.translations) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">  
                <br><br><br>
                {{ form_widget(entity.simbolo) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
                <br><br><br>
                {{ form_widget(entity.unidad) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
                <br><br><br>
                <a class='btnRemoveFormulaVariable btn btn-sm btn-danger' href='javascript:;'><i class='glyphicon glyphicon-trash'></i></a>
            </div>
        </div>
    </div>
{% endmacro %}
