{% macro prototipoFormulaEcuacion(entity, idFormula,idEcuacion)  %}
 
    {% if idEcuacion is null %}
        {% set idEcuacion = "__nameembedsegundo__" %}
    {% else %}
        {% set idEcuacion = idEcuacion %}
    {% endif %}
    {% if idFormula is null %}
        {% set idFormula = "__name__" %}
    {% else %}
        {% set idFormula = idFormula %}
    {% endif %}

    <div class='row rowremoveecuacion'>
        <div class='form-group'>
            <div class='row'>
                <div class="col-lg-2 col-md-2 col-sm-2 ">
                    <br><br><br>
                    <a class='btnRemoveFormulaEcuacion btn btn-sm btn-danger' href='javascript:;'><i class='glyphicon glyphicon-trash'></i></a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    {{ form_widget(entity.translations) }}
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="ribon_dom_formulaecuacionunidad_{{ idFormula }}{{idEcuacion}}">
                        <button type="button" class='add_formulaecuacionunidad_link btn btn-default'>
                            <span class="glyphicon glyphicon-plus"></span>&nbsp;Agregar Unidad
                        </button>
                    </div>
                    {% include 'ModuloBundle:widget:add-unidad.html.twig' with { 'form' : entity.unidadResultado, 'key': idFormula ,'ecuacion':idEcuacion } %}
                </div>
            </div>
            <div class='row'>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label>Algoritmo</label>
                    {{ form_widget(entity.expresion) }}
                </div>
            </div>
        </div>
    </div>
    {#<script type="text/javascript">
        $("#calcular{{ idFormula }}").click(function () {
            $(".variables").each(function (index) {
                console.log(index + ": " + $(this).text());
            });

            $("#resultado{{idFormula}}").html(math.eval('12 / (2.3 + 0.7)'));
        });
    </script> #}      
{% endmacro %}
