{% macro prototipoFormulaRerencia(entity) %}
    <div class='row rowremovereferencia'>
        <div class='form-group'>
            <div class="col-lg-3 col-md-3 col-sm-3">
                {{ form_widget(entity.file) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
                {{ form_widget(entity.idioma) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
                <a class='btnRemoveFormulaReferencia btn btn-sm btn-danger' href='javascript:;'><i class='glyphicon glyphicon-trash'></i></a>
            </div>
        </div>
    </div>
{% endmacro %}
