{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}

{% block page %}
    <div class="panel panel-primary center-block">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <fieldset>
                    <div class='row'>
                        <div class="col-lg-6 col-md-6">
                            <div class="col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Id</label>
                                    <div class="form-control">
                                        <span class="input-xlarge uneditable-input">
                                            {{ entity.id }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9">
                                <div class="form-group">
                                    <label class="control-label">Este usuario fue creado por: </label>
                                    <div class="form-control">
                                        <span class="input-xlarge uneditable-input">
                                            {% if entity.parent is not null%}
                                               {{entity.parent}}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Nombre de usuario</label>
                                    <div class="form-control">
                                        <span class="input-xlarge uneditable-input">
                                            {{ entity.username }}
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <div class="form-control">
                                        <span class="input-xlarge uneditable-input">
                                            {{ entity.email }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-lg-6">
                                <label class="control-label">Fecha Inicio</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {{ entity.fechaInicio|date('d/m/Y') }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-lg-6">
                                <label class="control-label">plan de cuenta</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {{ entity.planDeCuenta}}
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="col-lg-6 col-lg-6">
                                <label class="control-label">Cantidad de sessiones</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {{ entity.cantidadSessiones }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-lg-6">
                                <div class="float-left col-lg-2 col-md-2 col-sm-2">
                                    <div class="form-group">
                                        <label class="control-label">Estado</label>
                                        <div class="form-control">
                                            <span class="input-xlarge uneditable-input">
                                                {{ isActive(entity.enabled) }}
                                            </span>
                                        </div>
                                    </div>
                                </div>          
                            </div>

                            <div class="col-lg-12 col-lg-12">
                                <label>Roles</label>
                                <ul class="list-group">
                                    {%for rol in entity.rolesCollection%}
                                        <li class="list-group-item">{{rol.name}}</li>
                                        {%endfor%}
                                </ul>
                                <label>Modulos</label>
                                <ul class="list-group">
                                    {%for mod in entity.modulos%}
                                        <li class="list-group-item">{{mod.nombre}}</li>
                                        {%endfor%}
                                </ul>


                            </div>
                        </div>
                    </div>      
                    <br>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Telefonos</div>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Tipo</th>
                                            <th>Numero</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for tel in entity.telefonos%}
                                            <tr>
                                                <td>{{tel.tipo}}</td>
                                                <td>{{tel.numero}}</td>
                                            </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Direccion</div>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Localidad</th>
                                            <th>Provincia</th>
                                            <th>Pais</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for dom in entity.domicilios%}
                                            <tr>
                                                <td>{{dom.localidad}}</td>
                                                <td>{{dom.provincia}}</td>
                                                <td>{{dom.pais}}</td>
                                            </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                                              
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}