{% block subject %}Resetear Sessiones{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Hola {{ user.username }} !

        Para resetear las sessiones  - por favor visita {{ confirmationUrl }}

       Atentamente,
       el Equipo.
    {% endautoescape %}
{% endblock %}