<p>Creado por {{entity.parent}} / Fecha: {{entity.fechaCreacion|date('d/m/Y')}}</p>
<p><strong>Nombre:</strong> {{entity.username}}</p>
<p><strong>Email</strong> {{entity.email}}</p>
<p><strong>Plan de cuenta:</strong> {{entity.planDeCuenta}}</p>
<p><strong>Fecha Inicio:</strong> {{entity.fechaInicio|date('d/m/Y')}}</p>
<p><strong>Cantidad Sessiones:</strong> {{entity.cantidadSessiones}}</p>
<p><strong>Modulos:</strong> </p>
<p>
    {% for m in entity.modulos %}
        {{m.nombre}},
    {%endfor%}
</p>

<p><strong>Telefonos</strong></p>

{% for t in entity.telefonos %}
    <p>Tipo: {{t.tipo}} / Numero: {{t.numero}}</p>
{%endfor%}


<p><strong>Domicilios</strong></p>

{% for m in entity.domicilios %}
    <p>Localidad: {{m.localidad}}/ Provincia: {{m.provincia}}/ Pais: {{m.pais}}</p>
{%endfor%}

<p><strong>Roles:</strong> </p>
{% for r in entity.getRoles() %}
    <p>{{r}}</p>
{%endfor%}