{% extends 'MWSimpleAdminCrudBundle:Default:index.html.twig' %}

{% block javascript %}

    <script src="{{ asset('bundles/mwsimpleadmincrud/js/datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        var table;
        $("#reset_index_filters").click(function () {
            $(".reset_submit_filters").trigger("click");
        });
        $(document).ready(function () {

            var leguange = '';

            if ("{{ app.session.get('_locale') }}" == 'pt') {

                leguange = '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json';
            } else if ("{{ app.session.get('_locale') }}" == 'es') {

                leguange = '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json';
            }

            table = $('#tablaPrincipal').dataTable({
                "language": {
                    "url": leguange,
                },
                "processing": true,
                "serverSide": true,
                "order": [[0, "desc"]],
                "ajax": {
                    "url": "{{ path(config.getTable) }}",
                },
                "aoColumnDefs": [
                    {
                        "mRender": function (data, type, row) {
                            var acciones = "";
                            var array = [
                                '<a  href="' + Routing.generate('{{ config.show }}', {id: row[0]}) + '" title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}" data-toggle="tooltip" data-placement="top" ><span class="glyphicon glyphicon-search"></span></a>',
                                '<a  href="' + Routing.generate('{{ config.edit }}', {id: row[0]}) + '" title="{{ 'views.actions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}" data-toggle="tooltip" data-placement="top" ><span class="glyphicon glyphicon-pencil"></span></a>',
                            ];
                            acciones = array.join("");
                            return acciones;
                        },
                        "aTargets": [{{ config.fieldsindex|length }}]
                    },
                    {
                        "targets": [0],
                        "visible": false
                    },
                ],
                "fnDrawCallback": function (oSettings) {
                    $('[data-toggle="tooltip"]').tooltip();
                }
            });
        });

    </script>
{% endblock %}
