{% extends 'TecsproFrontBundle::layout.html.twig' %}
{% block panelDerecho  %}

{% endblock panelDerecho  %}
{% block ecuaciones %}
    {% include 'TecsproFrontBundle:Default:menu-izquierdo.html.twig'  %} 
{% endblock %}
{% block page %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Sessiones</h3>
        </div>
        <div class="box-body">
            <form method="post" action="{{path('user_edit_sessiones_enviar')}}">
                <div class="form-group">
                    {%for key,entity in entities%}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="txtSession[{{key}}]">
                                {{entity['Navegador']}} <span class="pull-right badge bg-aqua">{{entity['fecha']}}</span>
                            </label>
                        </div>
                    {%endfor%}
                </div>
                <div class="box-footer">
                    <input type="submit" class="btn btn-primary" value="{{ 'BorrarSessiones'|trans({}, 'TecsproFrontBundle') }}">
                </div>

            </form>


        </div>
    </div>
{% endblock page %}