
{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <form action="{{ path('User_resetting_request_session_send') }}" method="POST" class="fos_user_resetting_request">
        <div>
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
            {% endif %}
            <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="username" required="required" />
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Resetear Sessiones" />
        </div>
    </form>
{% endblock fos_user_content %}

