{% extends 'TecsproFrontBundle::layout.html.twig' %}

{% block body %}
    {% block ecuaciones %}

    {% endblock %}
    {% block page %}
        <head>
            <link href="{{ asset('bundles/tecsprofront/contact_us/contact.css') }}" rel="stylesheet">        
        </head>
        <body>
            <div class="jumbotron jumbotron-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">

                            <h1 class="h1">
                                {{ 'Ayuda'|trans({}, 'TecsproFrontBundle') }} <span class="pull-right"><i class="fa fa-question-circle"></i></span>   <br> 
                                <small>
                                    {{ 'Sientase libre de contactarnos por dudas y problemas.'|trans({}, 'TecsproFrontBundle') }}
                                </small>

                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="well well-sm">
                            <form method="post" action="{{path('contactenos_plantilla_send')}}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">
                                                {{ 'Nombre'|trans({}, 'TecsproFrontBundle') }}
                                            </label>
                                            <input type="text" class="form-control" id="name" required="required"  name="txtNombre"
                                                   title="{{ 'ToolTip.contacto.nombre'|trans({}, 'TecsproFrontBundle') }}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">
                                                {{ 'Su correo electronico'|trans({}, 'TecsproFrontBundle') }}
                                            </label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope">

                                                    </span>
                                                </span>
                                                <input type="email" class="form-control" id="email" name="txtEmail"
                                                       required="required" 
                                                       title="{{ 'ToolTip.contacto.email'|trans({}, 'TecsproFrontBundle') }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="subject">
                                                {{ 'Asunto'|trans({}, 'TecsproFrontBundle') }}</label>
                                            <select id="subject" class="form-control" required="required" name="txtAsunto"
                                                    title="{{ 'ToolTip.contacto.asunto'|trans({}, 'TecsproFrontBundle') }}">
                                                <option value="na" selected="">
                                                    {{ 'Escoja uno'|trans({}, 'TecsproFrontBundle') }}:
                                                </option>
                                                <option value="service">
                                                    {{ 'Servicio en general'|trans({}, 'TecsproFrontBundle') }}
                                                </option>
                                                <option value="suggestions">
                                                    {{ 'Sugerencia'|trans({}, 'TecsproFrontBundle') }}
                                                </option>
                                                <option value="product">
                                                    {{ 'Soporte para producto'|trans({}, 'TecsproFrontBundle') }}                                           
                                                </option>
                                                <option value="product">
                                                    {{ 'Otros'|trans({}, 'TecsproFrontBundle') }}                                           
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">
                                                {{ 'Mensaje'|trans({}, 'TecsproFrontBundle') }}
                                            </label>
                                            <textarea id="message" name="txtMensaje" class="form-control" rows="9" cols="25" 
                                                      required="required" placeholder="..."
                                                      title="{{ 'ToolTip.contacto.mensaje'|trans({}, 'TecsproFrontBundle') }}">
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                            {{ 'Enviar'|trans({}, 'TecsproFrontBundle') }}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <form>
                            <legend><span class="glyphicon glyphicon-globe"></span> {{ 'Nuestro local'|trans({}, 'TecsproFrontBundle') }}</legend>
                            <address>
                                <strong>Web</strong><br>
                                <a target="_blank" href="http://www.ractt.com/">www.ractt.com</a><br><br>

                                <strong>{{ 'Correo de electronico'|trans({}, 'TecsproFrontBundle') }}</strong><br>
                                <a href="mailto:#">soporte@ractt.com</a><br><br>

                                <strong>Skype</strong><br>
                                doctos.consultora<br><br>

                                <abbr title="Phone">
                                    {{ 'Direccion:'|trans({}, 'TecsproFrontBundle') }}
                                </abbr>
                                Frondizi 626 – Resistencia <br>
                                (3500) - Argentina<br><br>
                                <abbr title="Phone">
                                    Télefonos: </abbr><br>  
                                <abbr title="Phone">
                                    Local: </abbr>
                                0810 444 1866<br>                       
                                <abbr title="Phone">
                                    Desde el exterior: </abbr>
                                +54 362 4441866 <br>
                                <abbr title="Phone">
                                    WhatsApp:</abbr>
                                +55 11 30856959                                               
                            </address>

                            <strong>Horario de atención</strong><br>
                            De 8 a 16 horas (UTC/GMT -3)<br><br>
                        </form>
                    </div>
                </div>
            </div>
        </body>
    {% endblock %}
    {% block javascript %}
        {{parent()}}
        <script type="text/javascript">
            $("#panelToogleDerecho").hide();
        </script>
    {% endblock %}
{% endblock %}