{% extends 'TecsproFrontBundle::layout.html.twig' %}
{% block panelDerecho  %}
    {{ render(controller('TecsproFrontBundle:Grupo:listaGruposSeleccionado')) }}
{% endblock panelDerecho  %}

{% block page %}
    {% set proyecto  = app.session.get('proyecto') is defined ?
    app.session.get('proyecto') : "" %}

    <link href="{{ asset('bundles/tecsprofront/css/popover.css') }}" rel="stylesheet">
    
   
    <div class="nav-tabs-custom">
        <ul id="myTabs" class="nav nav-tabs" role="tablist">
            <li class="" role="presentation">
                <a id="proyecto-tab" aria-controls="profile" data-toggle="tab" role="tab" href="#tabProyecto" aria-expanded="false"
                   title="{{ 'Tooltip.BarraPrincipal.Proyecto'|trans({}, 'TecsproFrontBundle') }}">
                    {{ 'Proyecto'|trans({}, 'TecsproFrontBundle') }}
                </a>
            </li>
            <li class="active" role="presentation">
                <a id="formulas-tab" aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" href="#tabFormulas"
                   title="{{ 'Tooltip.BarraPrincipal.Ecuacion'|trans({}, 'TecsproFrontBundle') }}">
                    {{ 'Ecuacion'|trans({}, 'TecsproFrontBundle') }}
                </a>
            </li>
            <li class="" role="presentation">
                <a id="arc-tab" aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" href="#tabARC"
                   title="{{ 'Tooltip.BarraPrincipal.ARC'|trans({}, 'TecsproFrontBundle') }}">
                    ARC
                </a>
            </li>      
            <li class="" role="presentation">
                <a id="tablas-tab" aria-expanded="true" aria-controls="tablas" data-toggle="tab" role="tab" 
                   href="#tabTablas" title="{{ 'Tooltip.BarraPrincipal.Tablas'|trans({}, 'TecsproFrontBundle') }}">
                    {{ 'Tablas'|trans({}, 'TecsproFrontBundle') }}
                </a>
            </li>
            <li class="" role="presentation">
                <a id="proyectosguardados-tab" aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" 
                   href="#tabProyectosGuadados" title="{{ 'Tooltip.BarraPrincipal.Guardar'|trans({}, 'TecsproFrontBundle') }}">
                    {{ 'Guardados'|trans({}, 'TecsproFrontBundle') }}
                </a>
            </li>

            <li class="pull-right">
                <a class="text-muted" id="btnClose" href="javascript:;">
                    <i class="fa fa-close "></i>
                </a>
            </li>

            <li id="litablaSistema" class="pull-right"  {%if  app.session.get('protablaSistemayecto') is not defined or app.session.get('protablaSistemayecto') is null %} style="display: none;"   {%endif%}>
                <a id="tablaSistema" data-tabla="{{ app.session.get('tablaSistema')}}" class="text-muted" href="javascript:;">
                    {{ app.session.get('tablaSistema')|replace({'_': ' '})}}
                    <i class="fa fa-sticky-note-o"></i>
                </a>
            </li>

        </ul>
        <div id="myTabContent" class="tab-content">
            <div id="tabFormulas" class="tab-pane active in" aria-labelledby="formulas-tab" role="tabpanel">
                <div class="row" id="panelVariable">
                    {#<div class="page-header">
                        <h1>Non-responsive Bootstrap</h1>
                        <p class="lead">Disable the responsiveness of Bootstrap by fixing the width of the container and using the first grid system tier.
                            <a href="http://getbootstrap.com/getting-started/#disable-responsive">
                                Read the documentation
                            </a>for more information.
                        </p>
                    </div>
        
                    <h3>What changes</h3>
                    <p>Note the lack of the <code>&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;</code>, which disables the zooming aspect of sites in mobile devices. In addition, we reset our container's width and changed the navbar to prevent collapsing, and are basically good to go.</p>
                    #}
                </div>
            </div>

            <div id="tabProyecto" class="tab-pane " aria-labelledby="proyecto-tab" role="tabpanel">
                {{ render(controller('TecsproFrontBundle:Proyecto:new')) }}
            </div>

            <div id="tabProyectosGuadados" class="tab-pane" aria-labelledby="proyectosguardados-tab" role="tabpanel">
                {{ render(controller('TecsproFrontBundle:Proyecto:index')) }}
            </div>

            <div id="tabARC" class="tab-pane" aria-labelledby="arc-tab" role="tabpanel">
                {{ render(controller('TecsproARCBundle:ARCCampos:new')) }}
            </div>  

            <div id="tabTablas" class="tab-pane" aria-labelledby="arc-tab" role="tabpanel">
                {{ render(controller('TecsproFrontBundle:Tabla:tablasLista')) }}
            </div>  
        </div>
    </div>
    <script id="hbPanelVariableDefault" type="text/x-handlebars-template">
        {% verbatim %}
        {% endverbatim %}
    </script>

    {% include 'TecsproFrontBundle:Handlebar:panelFormula.js.twig' %}
    {% include 'TecsproFrontBundle:Handlebar:importar.js.twig' %}
    <!-- Modal -->
    <div class="modal fade" id="modalImportar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="importarResultado">

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalSelectFormulaByGrupo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="SelectFormulaByGrupo">

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalImprimir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{ 'Formato de Impresion'|trans({}, 'TecsproFrontBundle') }}
                    </h4>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <a href="javascript:;" class="list-group-item btnImprimir" data-type="pdf">Pdf</a>
                        <a href="javascript:;" class="list-group-item btnImprimir" data-type="docx">Ms Word Document (.docx)</a>
                        <a href="javascript:;" class="list-group-item btnImprimir" data-type="odt">OpenOffice Writer Document (.odt)</a>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {{ 'Cerrar'|trans({}, 'TecsproFrontBundle') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="modalTabla" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="bodyTabla">
                
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{parent()}}
    {% javascripts
    'bundles/bazingajstranslation/js/translator.min.js'
    'js/translations/config.js'
    'js/translations/TecsproFrontBundle/es.js'
    'js/translations/TecsproFrontBundle/pt.js'%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
    {% set proyecto  = app.session.get('proyecto') is defined ?
    app.session.get('proyecto') : "" %}
    <script type="text/javascript">
        var $arrayImportar;
        var $form;
        var $formSession = [];
        var key;
        var $templateFormImportarFormula;
        var $templateFormImportarEcuaciones;
        var $templateFormImportarAutoicremental;
        var $templateModalSelectFormulas;
        var $templatePanelVariables;
        var $templatePanelFormulasSeleccionadas;
        var $variableSeleccionada;
        var $buscarImportar = true;
        var variables = [];
        var ecuaciones = [];
        var expresiones = [];
        var $tablasDelSistema = [];
        var $tablasDelSistemaMinimizada = "";
        var $ecuacionesTemp = {};

        $(document).keypress(function (e) {
            if (e.which === 13) {
                $(".btnCalcular").trigger('click');
            }
        });
        $(document).ready(function (e) {
            $(".control-sidebar ").addClass("control-sidebar-open");
            var proyecto = "{{proyecto}}";

            Translator.locale = '{{app.session.get('_locale') }}';

            if ($formSession.length === 0) {
        {%if app.session.get('formulas') is defined and app.session.get('formulas') is not null%}
                    $arrayTemp = {{app.session.get('formulas')|json_encode|raw  }};
                            $.each($arrayTemp, function (i, n) {
                                if (typeof n.formula === 'string') {
                                    n.formula = JSON.parse(n.formula);
                                }
                                if (typeof n.nombre === 'string') {
                                    n.nombre = JSON.parse(n.nombre);
                                }
                                $formSession.push(n);
                            });
        {%endif%}
                }
        {%if app.session.get('tablaSistema') is defined and app.session.get('tablaSistema') is not null%}
                $tablasDelSistemaMinimizada = "{{app.session.get('tablaSistema') }}";
        {%endif%}
                setTimeout("ocultarMensaje()", 2000);
                $("#formulas-tab").click(function (e) {
                    $("#panelToogleDerecho").show();
                    $(".control-sidebar ").addClass("control-sidebar-open");
                });
                $("#proyecto-tab, #proyectosguardados-tab, #arc-tab, #tablas-tab").click(function () {
                    $(".control-sidebar ").removeClass("control-sidebar-open");
                });
                if (typeof $templatePanelVariables === "undefined") {
                    var source = $("#hbPanelVariable").html();
                    $templatePanelVariables = Handlebars.compile(source);
                }

                if (typeof $templatePanelFormulasSeleccionadas === "undefined") {
                    var source = $("#hbPanelGrupoSeleccionados").html();
                    $templatePanelFormulasSeleccionadas = Handlebars.compile(source);
                }
                if (typeof $templateModalSelectFormulas === "undefined") {
                    var source = $("#hbSelectFormulasByGroup").html();
                    $templateModalSelectFormulas = Handlebars.compile(source);
                }
                if (typeof $templateFormImportarFormula === "undefined") {
                    var source = $("#hbImportarResultadoFormula").html();
                    $templateFormImportarFormula = Handlebars.compile(source);
                }
                if (typeof $templateFormImportarEcuaciones === "undefined") {
                    var source = $("#hbImportarResultadoEcuaciones").html();
                    $templateFormImportarEcuaciones = Handlebars.compile(source);
                }
                if (typeof $templateFormImportarAutoicremental === "undefined") {
                    var source = $("#hbImportarResultadoAutoicremental").html();
                    $templateFormImportarAutoicremental = Handlebars.compile(source);
                }
        {%if app.session.get('key') is defined and app.session.get('key') is not null%}
                key = parseInt("{{app.session.get('key')}}");
        {%endif%}
                if (typeof key !== "undefined") {
                    $(".treeRight" + key).click();
                }
            }
            );
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/tecsprofront/js/calcular.js') }}"></script>
    <script src="{{ asset('bundles/tecsprofront/js/importarResultado.js') }}"></script>
    {#<script src="{{ asset('bundles/tecsprofront/js/renderPaneles.js') }}"></script>#}
    {% include 'TecsproFrontBundle:Default:renderPaneles.js.twig' %}

    <script src="{{ asset('bundles/tecsprofront/js/formulasAccion.js') }}"></script>
    <script type="text/javascript">
            var contadorVariables = 1;
            $("#tablaSistema").click(function () {
                $(".btnTabla.active").click();
            });
            
            $(".btnCategoria").click(function () {
                if ($(this).children('i').first().hasClass("fa-folder-o")) {
                    $(".treeview.active a i").first().removeClass("fa-folder-open-o");
                    $(".treeview.active a i").first().addClass("fa-folder-o");
                    $(this).children('i').first().removeClass("fa-folder-o");
                    $(this).children('i').first().addClass("fa-folder-open-o");
                } else if ($(this).children('i').first().hasClass("fa-folder-open-o")) {
                    $(this).children('i').first().removeClass("fa-folder-open-o");
                    $(this).children('i').first().addClass("fa-folder-o");
                }
            });
            $(".btnListaEcuacion").click(function () {
                $id = $(this).data('id');
                $tipo = $(this).data('tipo');
                $json = jQuery.extend(true, {}, $(this).data('json'));
                $orden = $(this).data('orden');
                if ($tipo === "formula") {

                    //guardarVariablesEnSession();
                    key = renderFormula($id, $json, $orden);
                    contadorVariables = 1;
                    $("#formulas-tab").click();
                    $(".treeview.active li.active").removeClass("active");
                    $(this).parent().addClass("active");
                    if ($form.autoincremental === true) {
                        $(".btn-add").click();
                    }


                } else if ($tipo === "grupo") {

                    var mnj_error = "{{ 'Disculpe, existió un problema'|trans({}, 'TecsproFrontBundle') }}";

                    var mnj_aleta = "{{ 'Alerta'|trans({}, 'TecsproFrontBundle') }}";

                    $.ajax({
                        // la URL para la petición
                        url: '{{path('Formula_seleccionar_formulaByGrupo')}}',
                        // la información a enviar
                        // (también es posible utilizar una cadena de datos)
                        data: {id: $id},
                        // especifica si será una petición POST o GET
                        type: 'GET',
                        // el tipo de información que se espera de respuesta
                        dataType: 'json',
                        // código a ejecutar si la petición es satisfactoria;
                        // la respuesta es pasada como argumento a la función
                        success: function (json) {

                            var htmlSession = $templateModalSelectFormulas(json);
                            $("#SelectFormulaByGrupo").html(htmlSession);
                            $("#modalSelectFormulaByGrupo").modal("show");

                            $(".btnRenderFormula").click(function () {
                                $json = jQuery.extend(true, {}, $(this).data('json'));
                                $orden = $(this).data('orden');
                                key = renderFormula($(this).data('id'), $json, $orden);
                                $("#modalSelectFormulaByGrupo").modal("hide");
                            });
                        },
                        // código a ejecutar si la petición falla;
                        // son pasados como argumentos a la función
                        // el objeto de la petición en crudo y código de estatus de la petición
                        error: function (xhr, status) {
                            mostrarNotifiacion(mnj_aleta, mnj_error, "error");
                        },
                    });
                }
            });


            var removeFormGroup = function (event) {
                event.preventDefault();
                var cantidad = $(".rowAutoincremental tr").length;
                var $formGroup = $(this).closest('.form-group').parent().parent().parent().parent();

                if ($formGroup.length === 0) {
                    var $formGroup = $(this).parent().parent().parent().parent().parent();
                } else {
                    var $formGroup = $(this).closest('.form-group').parent().parent().parent().parent();
                }
                var $multipleFormGroup = $formGroup.closest('.multiple-form-group');

                var $lastFormGroupLast = $multipleFormGroup.find('.form-group:last');
                if ($multipleFormGroup.data('max') >= countFormGroup($multipleFormGroup)) {

                    $lastFormGroupLast.find('.btn-add').attr('disabled', false);
                }

                if (cantidad > 1) {
                    $formGroup.remove();
                    // array.splice(index, 1);
                    contadorVariables--;
                }
            };

            var selectFormGroup = function (event) {
                event.preventDefault();

                var $selectGroup = $(this).closest('.input-group-select');
                var param = $(this).attr("href").replace("#", "");
                var concept = $(this).text();

                $selectGroup.find('.concept').text(concept);
                $selectGroup.find('.input-group-select-val').val(param);

            }

            var countFormGroup = function ($form) {
                return $form.find('.form-group').length;
            };
            function removerItem($_variable) {
                $index = $_variable.getAttribute("data-index");

                var cantidad = $(".rowAutoincremental tr").length;
                var $formGroup = $($_variable).closest('.form-group').parent().parent().parent().parent();

                if ($formGroup.length === 0) {
                    var $formGroup = $($_variable).parent().parent().parent().parent().parent();
                } else {
                    var $formGroup = $($_variable).closest('.form-group').parent().parent().parent().parent();
                }
                var $multipleFormGroup = $formGroup.closest('.multiple-form-group');

                var $lastFormGroupLast = $multipleFormGroup.find('.form-group:last');
                if ($multipleFormGroup.data('max') >= countFormGroup($multipleFormGroup)) {

                    $lastFormGroupLast.find('.btn-add').attr('disabled', false);
                }
                if ($index === null)
                    $index = 0;
                if (cantidad > 1) {
                    $formGroup.remove();
                    $form.variables.splice($index, 1);
                    contadorVariables--;
                    $temp = 0;
                    $cant = 0;
                    $(".btn-remove").each(function (index) {
                        if ($cant === 2) {
                            $temp++;
                            $cant = 0;
                        }
                        $cant++;
                        $(this).attr("data-index", $temp);
                    });

                    $temp = 0;
                    $cant = 0;
                    $(".soloNumeros").each(function (index) {
                        if ($cant === 4) {
                            $temp++;
                            $cant = 0;
                        }
                        $cant++;
                        $(this).attr("data-idvariableindex", $temp);
                    });

                    $temp = 0;
                    $cant = 0;
                    if (typeof $form.variables[0].translations === "string") {
                        translation = JSON.parse($form.variables[0].translations);
                    } else {
                        translation = $form.variables[0].translations;
                    }

                    if (translation instanceof Array) {
                        for ($i = 0; $i < translation.length; $i++) {
                            if (translation[$i].locale === Translator.locale) {
                                $nombreVariable = translation[$i]["nombre"];
                            }
                        }
                    } else {
                        $nombreVariable = translation[Translator.locale]["nombre"];
                    }
                    $nombreVariable = $nombreVariable + " " + $form.variables[0].simbolo;
                    $temp = $nombreVariable;
                    $(".nombreAutoincremental").each(function (index) {
                        $cant++;
                        $nombreVariable = $temp;
                        $nombreVariable = $nombreVariable + $cant;

                        $(this).html($nombreVariable);
                    });
                    $cant = 0;
                    $id = $form.variables[0].id;
                    $(".formularioAutoincremntal").each(function (index) {

                        $(this).attr('id', 'variable' + $id + "" + $cant);
                        $cant++;
                    });
                    $cant = 0;
                    $(".panelAutoincrementar").each(function (index) {

                        $(this).attr('id', 'autoincremental' + $id + "" + $cant);
                        $cant++;
                    });

                    $cant = 0;
                    $(".btnIncremento").each(function (index) {
                        $(this).attr('data-variable', $form.variables[0].id + "" + $cant);
                        $(this).attr('data-index', $cant);
                        $cant++;
                    });

                    $form.sincronizado = false;
                    guardarForm();
                }
            }
    </script>

{% endblock %}
