<ul class="sidebar-menu">

    <li class="header">
        {{ 'Configuracion'|trans({}, 'TecsproFrontBundle') }}
    </li>

    <li class="{%if app.request.attributes.get('_route')== 'traslation_plantilla'  %}active{%endif%}">
        <a href="{{ path('traslation_plantilla') }}"><i class="fa fa-circle-o text-blue"></i> 
            <span>{{ 'Lenguaje'|trans({}, 'TecsproFrontBundle') }}</span>
        </a>
    </li>
    {% if is_granted('ROLE_CLIENTE') %}
        <li class="{%if app.request.attributes.get('_route')== 'fos_user_change_password'  %}active{%endif%}">
            <a href="{{ path('fos_user_change_password') }}"><i class="fa fa-circle-o text-blue"></i> 
                <span>  {{ 'layout.change.password'|trans({}, 'UserBundle') }} </span>
            </a>
        </li>  
    {% endif %}

    <li class="{%if app.request.attributes.get('_route')== 'fos_user_profile_edit'  %}active{%endif%}">
        <a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-circle-o text-blue"></i> 
            <span> {{ 'Perfil'|trans({}, 'TecsproFrontBundle') }}</span>
        </a>
    </li>
    <li class="{%if app.request.attributes.get('_route')== 'user_edit_sessiones'  %}active{%endif%}">
        <a href="{{ path('user_edit_sessiones') }}"><i class="fa fa-circle-o text-blue"></i> 
            <span> {{ 'sessiones'|trans({}, 'TecsproFrontBundle') }}</span>
        </a>
    </li>

</ul>