<script type="text/javascript">
    /* global Translator */

    function renderPanelVariable(key, imagen, referencia, formulaSeleccionada, plantilla) {
       
        Handlebars.registerHelper('sum', function () {
            var sum = 0, v;
            for (var i = 0; i < arguments.length; i++) {
                v = parseFloat(arguments[i]);
                if (!isNaN(v))
                    sum += v;
            }
            return sum;
        });
        Handlebars.registerHelper('image', function (uploaddir, file) {

            var result = '<img class="media-object" src="{{asset('')}}media/cache/upscale800x600/uploads/imagenes/' + file + '">';
            return new Handlebars.SafeString(result);
        });
        Handlebars.registerHelper('file', function (_translation) {
    {% if is_granted('ROLE_CLIENTE') %}
                if (typeof _translation === "string") {
                    translation = JSON.parse(_translation);
                } else {
                    translation = _translation;
                }
                var file_path = "";
                var uploaddir = "";
                var result = "";
                if (translation instanceof Array) {
                    for ($i = 0; $i < translation.length; $i++) {
                        if (translation[$i].locale === Translator.locale) {
                            uploaddir = translation[$i]["upload_dir"];
                            if (typeof translation[$i]["file_path"] !== "undefined") {
                                file_path = translation[$i]["file_path"];
                            } else {
                                if (typeof translation[$i]["file"] !== "undefined")
                                    file_path = translation[$i]["file"].original_name;
                            }
                        }
                    }
                } else {
                    uploaddir = translation[Translator.locale]["upload_dir"];
                    if (typeof translation[Translator.locale]["file_path"] !== "undefined") {
                        file_path = translation[Translator.locale]["file_path"];
                    } else {
                        if (typeof translation[Translator.locale]["file"] !== "undefined")
                            file_path = translation[Translator.locale]["file"].original_name;
                    }
                }
                if (typeof file_path !== "undefined" && typeof uploaddir !== "undefined") {
                    result = '<a href="../' + uploaddir + "/" + file_path + '" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-comment"></span> Referencia</a>';
                }
                return new Handlebars.SafeString(result);
    {%else%}
                result = '<a href="javascript:;" class="btn btn-info"><span class="glyphicon glyphicon-comment"></span> Referencia</a>';

                return new Handlebars.SafeString(result);

    {% endif %}
            }
            );
            metodosHandlebars();
            $form = formulaSeleccionada;
            var html = $templatePanelVariables($form);
            
            $("#panelVariable").html(html);
            metodos();
            mensajespopup();
            botonAccion(key);

        }
        function metodos() {
            $(".guardar").change(function () {
                $tipo = $(this).data('tipo');
                if ($form.autoincremental === false) {
                    $vari = $(this).data('idvariable');


                    $autoincrementar = false;
                    for ($i = 0; $i < $form.variables.length; $i++) {
                        if ($form.variables[$i].id === $vari) {
                            if ($tipo === "valor") {
                                $arr = [$(this).val()];
                                $form.variables[$i].valor = $arr;
                            } else if ($tipo === "valorDesde") {
                                $form.variables[$i].valor_desde = $(this).val();
                                $autoincrementar = true;
                            } else if ($tipo === "valorHasta") {
                                $form.variables[$i].valor_hasta = $(this).val();
                                $autoincrementar = true;
                            } else if ($tipo === "particiones") {
                                $form.variables[$i].particiones = parseInt($(this).val());
                                $autoincrementar = true;
                            }
                            $form.variables[$i].autoincrementar = $autoincrementar;
                        }
                    }
                } else {
                    index = $(this).data('idvariableindex');
                    $autoincrementar = false;

                    if ($tipo === "valor") {
                        $arr = [$(this).val()];
                        $form.variables[index].valor = $arr;
                    } else if ($tipo === "valorDesde") {
                        $form.variables[index].valor_desde = $(this).val();
                        $autoincrementar = true;
                    } else if ($tipo === "valorHasta") {
                        $form.variables[index].valor_hasta = $(this).val();
                        $autoincrementar = true;
                    } else if ($tipo === "particiones") {
                        $form.variables[index].particiones = parseInt($(this).val());
                        $autoincrementar = true;
                    }
                    $form.variables[index].autoincrementar = $autoincrementar;


                }
                guardarForm();
            });
            $(".soloNumeros").keypress(function (e) {
                var key = window.Event ? e.which : e.keyCode

                return (key >= 48 && key <= 57 || key === 46 || key === 8 || key === 0 || key === 13);
            });
            $(".txtNombrepersonalizado").change(function (e) {
                $form.nombre_personalizado = $(this).val();
                guardarForm();
            });

            $('.button-checkbox-imprimir').each(function () {
                // Settings
                var $widget = $(this),
                        $button = $widget.find('button'),
                        $checkbox = $widget.find('input:checkbox'),
                        color = $button.data('color'),
                        settings = {
                            on: {
                                icon: 'glyphicon glyphicon-check'
                            },
                            off: {
                                icon: 'glyphicon glyphicon-unchecked'
                            }
                        };
                // Event Handlers
                $button.on('click', function () {
                    $checkbox.prop('checked', !$checkbox.is(':checked'));
                    $checkbox.triggerHandler('change');
                    updateDisplay();
                });
                $checkbox.on('change', function () {
                    updateDisplay();
                });
                // Actions
                function updateDisplay() {
                    var isChecked = $checkbox.is(':checked');
                    // Set the button's state
                    $button.data('state', (isChecked) ? "on" : "off");
                    // Set the button's icon
                    $button.find('.state-icon')
                            .removeClass()
                            .addClass('state-icon ' + settings[$button.data('state')].icon);
                    // Update the button's color
                    if (isChecked) {
                        $button
                                .removeClass('btn-default')
                                .addClass('btn-' + color + ' active');
                    } else {
                        $button
                                .removeClass('btn-' + color + ' active')
                                .addClass('btn-default');
                    }
                }

                // Initialization
                function init() {

                    updateDisplay();
                    // Inject the icon if applicable
                    if ($button.find('.state-icon').length == 0) {
                        $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                    }
                }
                init();
            });
        }

        function mostrarTotales() {
//Muestro los resulados
            for ($e = 0; $e < ecuaciones.length; $e++) {

                cambiarUnidad(ecuaciones[$e].id, $("#listaUnidadEcuacion" + ecuaciones[$e].id).val());
                /*$liHtml = "";
                 if (typeof ($form.ecuacion[$i].resultado) !== "undefined") {
                 if (parseInt($form.ecuacion[$i].resultado.length) > 1) {
                 $liHtml = $liHtml + '<li class="list-group-item"><span class="badge">' + $form.ecuacion[$i].resultado_medio + '</span> Resultado Medio</li>';
                 $liHtml = $liHtml + '<li class="list-group-item"><span class="badge">' + $form.ecuacion[$i].resultado_minimo + '</span> Resultado Minimo</li>';
                 $liHtml = $liHtml + '<li class="list-group-item"><span class="badge">' + $form.ecuacion[$i].resultado_maximo + '</span> Resultado Maximo</li>';
                 
                 } else {
                 $liHtml = '<li class="list-group-item"><span class="badge">' + $form.ecuacion[$i].resultado[0] + '</span> Resultado</li>';
                 
                 }
                 }
                 $("#listarResultadoEcuacion" + $form.ecuacion[$i].id).html($liHtml);*/
            }
        }

        function cambiarUnidad($_ecuacion, $_unidad) {
            for ($i = 0; $i < $form.ecuacion.length; $i++) {
                $liHtml = "";
                if ($form.ecuacion[$i].id === $_ecuacion) {
                    for ($j = 0; $j < $form.ecuacion[$i].unidad_resultado.length; $j++) {
                        if ($form.ecuacion[$i].unidad_resultado[$j].unidad.id === parseInt($_unidad)) {
                            if ($form.ecuacion[$i].unidad_resultado[$j].principal === true) {
                                for ($l = 0; $l < ecuaciones.length; $l++) {
                                    if ($form.ecuacion[$i].id === ecuaciones[$l].id) {
                                        if (ecuaciones[$l].autoincremental === true) {
                                            $calResultadoMedio = ecuaciones[$l].resultadoMedio;
                                            $calResultadoMinimo = ecuaciones[$l].resultadoMinimo;
                                            $calResultadoMaximo = ecuaciones[$l].resultadoMaximo;
                                            $liHtml = $liHtml + '<li class="list-group-item"><span class="badge">' + $calResultadoMedio + '</span> Resultado Medio</li>';
                                            $liHtml = $liHtml + '<li class="list-group-item"><span class="badge">' + $calResultadoMinimo + '</span> Resultado Minimo</li>';
                                            $liHtml = $liHtml + '<li class="list-group-item"><span class="badge">' + $calResultadoMaximo + '</span> Resultado Maximo</li>';
                                        } else {
                                            $calResultado = ecuaciones[$l].resultado;
                                            $liHtml = '<li class="list-group-item"><span class="badge">' + $calResultado + '</span> Resultado</li>';
                                        }
                                    }
                                }
                            } else {
                                for ($l = 0; $l < ecuaciones.length; $l++) {
                                    if ($form.ecuacion[$i].id === ecuaciones[$l].id) {
                                        if (ecuaciones[$l].autoincremental === true) {

                                            $calResultadoMedio = math.round(math.eval(ecuaciones[$l].resultadoMedio + $form.ecuacion[$i].unidad_resultado[$j].unidad.operacion), 2);
                                            $calResultadoMinimo = math.round(math.eval(ecuaciones[$l].resultadoMinimo + $form.ecuacion[$i].unidad_resultado[$j].unidad.operacion), 2);
                                            $calResultadoMaximo = math.round(math.eval(ecuaciones[$l].resultadoMaximo + $form.ecuacion[$i].unidad_resultado[$j].unidad.operacion), 2);
                                            $liHtml = $liHtml + '<li class="list-group-item"><span class="badge">' + $calResultadoMedio + '</span> Resultado Medio</li>';
                                            $liHtml = $liHtml + '<li class="list-group-item"><span class="badge">' + $calResultadoMinimo + '</span> Resultado Minimo</li>';
                                            $liHtml = $liHtml + '<li class="list-group-item"><span class="badge">' + $calResultadoMaximo + '</span> Resultado Maximo</li>';
                                        } else {
                                            $calResultado = math.round(math.eval(ecuaciones[$l].resultado + $form.ecuacion[$i].unidad_resultado[$j].unidad.operacion), 2);
                                            $liHtml = '<li class="list-group-item"><span class="badge">' + $calResultado + '</span> Resultado</li>';
                                        }
                                    }
                                }
                            }
                            $("#listarResultadoEcuacion" + $form.ecuacion[$i].id).html($liHtml);
                        }
                    }
                }
            }
        }
        function metodosHandlebars() {
            Handlebars.registerHelper('index_of', function (context, ndx) {
                return context[ndx];
            });
            Handlebars.registerHelper('ifmayornumb', function (variable, numb, options) {
                if (variable > numb) {
                    return options.fn(this);
                } else {
                    return options.inverse(this);
                }

            });
            Handlebars.registerHelper('ifmayor0', function (conditional, options) {
                if (conditional > 0) {
                    return options.fn(this);
                } else {
                    return options.inverse(this);
                }
            });
            Handlebars.registerHelper('traducir', function (variable, catalogo, options) {
                
                return  Translator.trans(variable, {}, catalogo);
            });
            Handlebars.registerHelper('traducirEntity', function (_translation, variable, options) {

                if (typeof _translation === "string") {
                    translation = JSON.parse(_translation);
                } else {
                    translation = _translation;
                }

                if (translation instanceof Array) {
                    for ($i = 0; $i < translation.length; $i++) {
                        if (translation[$i].locale === Translator.locale) {
                            $respuesta = translation[$i][variable];
                        }
                    }
                } else {
                    //$respuesta = translation[0][variable];
                    $respuesta = translation[Translator.locale][variable];
                }
                return  $respuesta;
            });
            Handlebars.registerHelper('ifautoincrementarfalse', function (conditional, options) {

                if (conditional === false) {
                    return options.fn(this);
                }
            });
            Handlebars.registerHelper('ifautoincrementartrue', function (conditional, options) {

                if (conditional === true) {
                    return options.fn(this);
                } else {
                    return options.inverse(this);
                }
            });
            Handlebars.registerHelper('ifCond', function (v1, v2, options) {

                if (v1 === v2) {
                    return options.fn(this);
                } else {
                    return options.inverse(this);
                }
            });
        }
        function botonAccion(key) {

            $(".txtUnidad").change(function () {
                $ecuacion = $(this).data("ecuacion");
                $val = $(this).val();
                cambiarUnidad($ecuacion, $val);
            });
            $(".btnCalcular").click(function () {
                calcular();
              
                $form.sincronizado = false;
                guardarForm();
            });
            $(".btnGuardar").click(function () {
                $("#tecspro_arcbundle_arccampos_save").click();
            });
            $(".btnImportar").click(function () {
                $variableSeleccionada = $(this).data("idvariable");
                importarResultado(key);
            });
            $(".btn-add").click(function () {

                var $formGroup = $('.rowAutoincremental tr').first();
                var $multipleFormGroup = $formGroup.closest('.multiple-form-group');
                var $formGroupClone = $formGroup.clone();

                //cambio id 
                variable = $formGroupClone.children('td').first().children('div').first().children('div').first().children().children('input').data("idvariable");
                $contadorAnterior = contadorVariables - 1;

                //variables
                $nombreNode = $formGroupClone.children('td').first().children('div').first().children('div').first().children('div').first().children('span').first();
                if (typeof $form.variables[0].translations === "string") {
                    translation = JSON.parse($form.variables[0].translations);
                } else {
                    translation = $form.variables[0].translations;
                }

                if (translation instanceof Array) {
                    for ($i = 0; $i < translation.length; $i++) {
                        if (translation[$i].locale === Translator.locale) {
                            $nombreVariable = translation[$i]["nombre"];
                        }
                    }
                } else {
                    //$respuesta = translation[0][variable];
                    $nombreVariable = translation[Translator.locale]["nombre"];
                }


                $nombreVariable = $nombreVariable + " " + $form.variables[0].simbolo + (contadorVariables + 1);

                $nombreNode.html($nombreVariable);

                $formGroupClone.children('td').first().children('div').first().children('div').first().children().children('input').removeClass("txtVariables" + variable + 0);
                $formGroupClone.children('td').first().children('div').first().children('div').first().children().children('input').addClass("txtVariables" + variable + "" + contadorVariables);
                $formGroupClone.children('td').first().children('div').first().children('div').first().attr("id", "variable" + variable + "" + contadorVariables);
                $formGroupClone.children('td').first().children('div').first().children('div').first().attr("style", "display:block;");
                $formGroupClone.children('td').first().children('div').first().children('div').next().attr("id", "autoincremental" + variable + "" + contadorVariables);
                $formGroupClone.children('td').first().children('div').first().children('div').next().attr("style", "display:none;");

                //txtParticion
                $formGroupClone.children('td').first().children('div').first().children('div').next().children('div').first().children("div").next().children("select").attr("id", "txtParticion" + variable + "" + contadorVariables);
                $formGroupClone.children('td').first().children('div').first().children('div').next().children('div').first().children("div").next().children("select").attr("data-idvariableindex", contadorVariables);

                //txtminimo
                $formGroupClone.children('td').first().children('div').first().children('div').next().children('div').next().children("input").attr("id", "txtValorDesde" + variable + "" + contadorVariables);
                $formGroupClone.children('td').first().children('div').first().children('div').next().children('div').next().children("input").removeClass("txtVariables" + variable + 0);
                $formGroupClone.children('td').first().children('div').first().children('div').next().children('div').next().children("input").addClass("txtVariables" + variable + "" + contadorVariables);
                $formGroupClone.children('td').first().children('div').first().children('div').next().children('div').next().children("input").attr("data-idvariableindex", contadorVariables);

                //txtmaximo
                $formGroupClone.children('td').first().children('div').first().children('div').next().children('div').next().next().children("input").attr("id", "txtValorHasta" + variable + "" + contadorVariables);
                $formGroupClone.children('td').first().children('div').first().children('div').next().children('div').next().next().children("input").removeClass("txtVariables" + variable + 0);
                $formGroupClone.children('td').first().children('div').first().children('div').next().children('div').next().next().children("input").addClass("txtVariables" + variable + "" + contadorVariables);
                $formGroupClone.children('td').first().children('div').first().children('div').next().children('div').next().next().children("input").attr("data-idvariableindex", contadorVariables);

                //idvariableindex
                $formGroupClone.children('td').first().children('div').first().children('div').first().children("div").children("input").attr("data-idvariableindex", contadorVariables);
                //acciones
                $formGroupClone.children('td').first().children('div').first().children('div').first().children().children("span").children().first().attr("data-index", contadorVariables);
                $formGroupClone.children('td').first().children('div').first().children('div').next().children('div').next().next().next().children().first().attr("data-index", contadorVariables);
                $formGroupClone.children('td').next().children('a').first().attr("data-variable", variable + "" + contadorVariables);
                $formGroupClone.children('td').next().children('a').first().attr("data-index", contadorVariables);
                $formGroupClone.children('td').next().children('a').next().attr("data-variable", variable + "" + contadorVariables);
                $formGroupClone.children('td').next().children('a').next().attr("data-idvariable", variable + "" + contadorVariables);
                contadorVariables++;
                $formGroupClone.find('input').val('');
                $formGroupClone.find('.concept').text('Phone');
                //agrego a form 
                $nuevo = jQuery.extend(true, {}, $form.variables[0]);
                $nuevo.autoincrementar = false;
                $nuevo.valor_desde = "0";
                $nuevo.valor_hasta = "0";
                $nuevo.particiones = 0;
                $nuevo.valor = [];
                $form.variables.push($nuevo);
                //$formGroupClone.insertAfter($formGroup);
                $('.rowAutoincremental').append($formGroupClone);
                var $lastFormGroupLast = $multipleFormGroup.find('.form-group:last');
                if ($multipleFormGroup.data('max') <= countFormGroup($multipleFormGroup)) {
                    $lastFormGroupLast.find('.btn-add').attr('disabled', true);
                }
                $(".btnImportar").click(function () {
                    $variableSeleccionada = $(this).data("idvariable");
                    importarResultado(key);
                });
                $(".guardar").change(function () {
                    $tipo = $(this).data('tipo');
                    index = $(this).data('idvariableindex');
                    $autoincrementar = false;
                    console.log($tipo);
                    console.log(index);
                    if ($tipo === "valor") {
                        $arr = [$(this).val()];
                        $form.variables[index].valor = $arr;
                    } else if ($tipo === "valorDesde") {
                        $form.variables[index].valor_desde = $(this).val();
                        $autoincrementar = true;
                    } else if ($tipo === "valorHasta") {
                        $form.variables[index].valor_hasta = $(this).val();
                        $autoincrementar = true;
                    } else if ($tipo === "particiones") {
                        $form.variables[index].particiones = parseInt($(this).val());
                        $autoincrementar = true;
                    }
                    $form.variables[index].autoincrementar = $autoincrementar;

                    //}
                    guardarForm();
                });
                $form.sincronizado = false;
                guardarForm();
            });
        }
        function btnAutoincremental($_variable) {
            $variable = $_variable.getAttribute("data-variable");
            $index = $_variable.getAttribute("data-index");

            //solamente ahi 2 variables que pueden ser autoincrementar
            $contador = 1;
            $(".panelAutoincrementar").each(function (index) {
                if ($(this).is(':hidden') === false) {
                    $contador++;
                }
            });
            if ($contador < 3) {
                //oculto la variable y coloco el panel de variables autoincrementar
                $("#variable" + $variable).toggle();
                $("#autoincremental" + $variable).toggle();
            } else if ($("#autoincremental" + $variable).is(':hidden') === false) {

                $("#variable" + $variable).toggle();
                $("#autoincremental" + $variable).toggle();
            }
            $form.variables[$index].autoincrementar = $("#variable" + $variable).is(':hidden');
        }

        function mensajespopup() {
            $(".mensajes").on('keyup', function () {
                var mensaje = $(this);
                var stength = $(this).data("content");
                var popover = mensaje.attr('data-content', stength).data('bs.popover');
                //popover.setContent();
                //popover.$tip.addClass(popover.options.placement).removeClass('danger success info warning primary').addClass(pclass);

            });
            $('input[data-toggle="popover"]').popover({
                placement: 'top',
                trigger: 'focus'
            });
        }

        function renderPanelDerecho(formulas) {
//var sourceSession = $("#hbPanelGrupoSeleccionados").html();
// var templateSession = Handlebars.compile(sourceSession);
            var htmlSession = $templatePanelFormulasSeleccionadas(formulas);
            $("#panelGrupoSeleccionados").html(htmlSession);
            if (formulas !== null && formulas.length !== 0) {
                $(".activeEcuacion").removeClass("activeEcuacion");
                $(".iconEcuacion").remove();
                $lst = $("#panelGrupoSeleccionados a").last();
                $($lst).html("<i class='menu-icon iconEcuacion fa fa-check bg-primary'></i>" + $($lst).html());
                $($lst).addClass("activeEcuacion");
            }
            metodosPanelDerecho();
        }

        function findInFormSession($_key) {
            if (typeof $formSession.length !== "undefined") {
                for ($i = 0; $i < $formSession.length; $i++) {
                    if ($formSession[$i].key === parseInt($_key)) {
                        key = $_key;
                        return $formSession[$i];
                    }
                }
            }
        }
        function findInFormSessionIndex($_key) {
            if (typeof $formSession.length !== "undefined") {
                for ($i = 0; $i < $formSession.length; $i++) {
                    if ($formSession[$i].key === parseInt($_key)) {
                        key = $_key;
                        return $i;
                    }
                }
            }
        }

        function guardarVariablesEnSession() {
            $(".guardar").each(function (index) {
                for ($i = 0; $i < $form.variables.length; $i++) {
                    if ($form.variables[$i].id == $(this).data("idvariable")) {
                        if ($(this).is(":visible")) {
                            $form.variables[$i].valor = $(this).val();
                        } else {
                            if ($(this).data("tipo") === "valor_desde") {
                                $form.variables[$i].valor_desde = $(this).val();
                            } else {
                                $form.variables[$i].valor_hasta = $(this).val();
                            }
                        }
                    }
                }
            });
            $formTemp = JSON.stringify($form);
            for ($i = 0; $i < $formSession.length; $i++) {
                if ($formSession[$i].key === key) {
                    $formSession[$i].formula = $formTemp;
                }
            }
        }

        function guardarForm() {
            $formTemp = JSON.stringify($form);
            for ($i = 0; $i < $formSession.length; $i++) {
                if ($formSession[$i].key === key) {
                    $formSession[$i].formula = $formTemp;
                }
            }
        }
</script>