{% extends 'TecsproFrontBundle::layout.html.twig' %}

{% block body %}
    {% block ecuaciones %}
        {% include 'TecsproFrontBundle:Default:menu-izquierdo.html.twig'  %}
    {% endblock %}
    {% block page %}

        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <form id="form_languaje">
                            <div>
                                <input type="radio" name="radio" id="radio1"  onchange="languaje_change()" />
                                <label for="radio1">
                                    {{ 'Castellano'|trans({}, 'TecsproFrontBundle') }}
                                </label>
                            </div>

                            <div>
                                <input type="radio" name="radio" id="radio2" onchange="languaje_change()"/>
                                <label for="radio2">
                                    {{ 'Portugues'|trans({}, 'TecsproFrontBundle') }}
                                </label>
                            </div>

                            <div>

                                <input id="btnCambiar" type="button" class="btn btn-primary" value={{ 'Cambiar'|trans({}, 'TecsproFrontBundle') }}>

                            </div>
                        </form>
                    </div>
                </div>
                <div id="progresoLoad" class="overlay" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>

    {% endblock page%}
    {% block javascript %}
        {{parent()}}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script type="text/javascript">
                                    $("#panelToogleDerecho").hide();
        </script>
        <script type="text/javascript">
            var languaje = "es";
            $(document).ready(function () {
                if ('{{ locale }}' === 'es') {
                    document.getElementById('radio1').checked = true;
                } else if ('{{ locale }}' === 'pt') {

                    document.getElementById('radio2').checked = true;
                }
            });

            function languaje_change() {

                var es = document.getElementById('radio1').checked;

                var pt = document.getElementById('radio2').checked;

                if (es) {

                    languaje = "es";
                } else if (pt) {

                    languaje = "pt";
                }

            }

            $("#btnCambiar").click(function () {
                $btn = $(this);
                $(this).attr('disabled', true);

                $.ajax({
// la URL para la petición
                    url: Routing.generate('load_traslation'),
// especifica si será una petición POST o GET
                    type: 'get',
                    data: {languaje: languaje},
// el tipo de información que se espera de respuesta
                    dataType: 'json',
                    beforeSend: function (XMLHttpRequest)
                    {
                        $("#progresoLoad").show();
                    },
                    success: function (json) {
                       location.reload(true);
                       $($btn).removeAttr("disabled");

                    },
// código a ejecutar si la petición falla;
// son pasados como argumentos a la función
// el objeto de la petición en crudo y código de estatus de la petición
                    error: function (xhr, status) {
                        $("#progresoLoad").hide();
                        alert('Disculpe, existió un problema');
                        $($btn).removeAttr("disabled");
                    },
                });

            });

        </script>
    {% endblock %}
{% endblock body %}