<style type="text/css">
    tfoot {
        display: table-header-group;
    }
    th.hide_me, td.hide_me {display: none;}
</style>
<div class="box box-primary">
    <div class="box-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-lg-push-3 col-md-push-3 col-sm-push-0">
                <div class="list-group">
                    {%for tabla in tablas%}
                        <a class="list-group-item btnTabla" data-tabla="{{tabla.id}}" href="javascript:;">{{tabla.tabla}}</a>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>

<script id="htbodyTablaSistema" type="text/x-handlebars-template">
    {% verbatim %}
        <div class="modal-header">
        <button type="button" class="close cerrarTablaSistema" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <button type="button" class="close minimizarTablaSistema" ><span aria-hidden="true">&#95</span></button>
        <h4 id="tituloTabla" class="modal-title">{{tabla}}</h4>
        </div>
        <div class="modal-body" >
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 rowFiltros">
        </div>   
        </div> 
        <div class="row"> 
        <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="table-responsive">
        <table id="tabla{{id}}"  class='table table-condensed' >
        <thead> 
        <tr> 
        {{#each columnas}}
        <th {{#ifCond filtro true}}class="select-filter cabecera{{@index}}"{{else}}class="all cabecera{{@index}}"{{/ifCond}}>{{columna}}</th>
        {{/each}} 
        </tr>
        </thead>
        {{#ifCond tieneFiltro true}}
        <tfoot>
        <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr> 
        </tfoot>
        {{/ifCond}}
        <tbody>
        {{#each datos}}  
        <tr>
        {{#each registros}} 
        <td>{{dato}}</td>
        {{/each}} 
        </tr> 
        {{/each}}  
        </tbody>
        </table>
        </div>  
        </div> 
        </div> 
        </div>

        <div class="modal-footer">
        <p class="pull-left">Fuente: {{fuente}}</p>
        <button type="button" class="btn btn-default" data-dismiss="modal"> {{#traducir 'Cerrar' 'TecsproFrontBundle'}}  {{/traducir}}</button>
        </div>
    {% endverbatim %}
</script>
<script src="{{ asset('bundles/tecsprofront/js/handlebars-v4.0.5.js') }}"></script>
<script type="text/javascript">
    var source = $("#htbodyTablaSistema").html();
    $oTable = null;
    Handlebars.registerHelper('ifCond', function (v1, v2, options) {
        if (v1 === v2) {
            return options.fn(this);
        } else {
            return options.inverse(this);
        }
    });
    Handlebars.registerHelper('traducir', function (variable, catalogo, options) {

        return  Translator.trans(variable, {}, catalogo);
    });
    Handlebars.registerHelper('ifCondd', function (v1, v2, options) {
        if (v1 === v2) {
            return options.fn(this);
        }
    });
    $templateTablaSistema = Handlebars.compile(source);

    $(".btnTabla").click(function () {
        if (typeof $(this).attr('disabled') === "undefined") {
            $(this).attr("disabled", true);
            $tabladelSistemaSession = false;
            $lst = $(this);
            $nombreTabla = $(this).data("tabla");
            $buscarTabla = true;
            $($tablasDelSistema).each(function (index) {
                if (this.nombre === $nombreTabla) {
                    $buscarTabla = false;
                }
            });
            var leguange = '';
            if ("{{ app.session.get('_locale') }}" == 'pt') {

                leguange = '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json';
            } else if ("{{ app.session.get('_locale') }}" == 'es') {

                leguange = '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json';
            }
            if ($buscarTabla === false) {
                $($tablasDelSistema).each(function (index) {
                    this.active = false;
                });
                $($tablasDelSistema).each(function (index) {
                    if (this.nombre === $nombreTabla) {
                        this.active = true;
                        $("#bodyTabla").html(this.tabla);
                        $oTable = $("#tabla" + $nombreTabla).DataTable({
                            responsive: true,
                            "language": {
                                "url": leguange,
                            },
                            "bFilter": true,
                            "aoColumnDefs": [
                                {
                                    "targets": [0],
                                    "visible": false
                                },
                                {"sClass": "hide_me", "aTargets": this.filtros}
                            ],
                            initComplete: function () {
                                this.api().columns('.select-filter').every(function () {
                                    var column = this;
                                    var select = $('<select><option value=""></option></select>')
                                            .appendTo($(column.footer()).empty())
                                            .on('change', function () {
                                                var val = $.fn.dataTable.util.escapeRegex(
                                                        $(this).val()
                                                        );

                                                column
                                                        .search(val ? '^' + val + '$' : '', true, false)
                                                        .draw();
                                            });

                                    column.data().unique().sort().each(function (d, j) {
                                        if (d !== "")
                                            select.append('<option value="' + d + '">' + d + '</option>')
                                    });
                                });
                                var filteredValues = [];
                                $("tfoot th.hide_me").each(function (index, value) {
                                    $select = $(this).clone();
                                    $select.children('select').attr('data-index', index);
                                    $select.children('select').attr('data-tabla', $nombreTabla);
                                    $select.children('select').addClass("selectFiltro");
                                    $select.children('select').addClass("select" + index);

                                    var someVariable = $select.html();

                                    filteredValues.push(someVariable);
                                });

                                $(".rowFiltros").html(filteredValues.toString());
                                $(".selectFiltro").change(function () {
                                    $index = $(this).data('index');
                                    $val = $(this).val();

                                    $($("tfoot th.hide_me > select")[$index]).val($val).change();
                                    $oTable.draw();
                                });
                                //ocultar
                                metodosModalTabla();
                                metodosSelect();
                            }
                        });

                    }
                });

                $("#modalTabla").modal("show");
                $(".btnTabla.active").removeClass("active");
                $($lst).addClass("active");
                $($lst).removeAttr("disabled");

            } else {
                $oTable = null;
                $.ajax({
                    // la URL para la petición
                    url: '{{path('tablas_select')}}',
                    // la información a enviar
                    // (también es posible utilizar una cadena de datos)
                    data: {tabla: $(this).data("tabla")},
                    // especifica si será una petición POST o GET
                    type: 'GET',
                    // el tipo de información que se espera de respuesta
                    dataType: 'json',
                    // código a ejecutar si la petición es satisfactoria;
                    // la respuesta es pasada como argumento a la función
                    success: function (json) {
                        var html = $templateTablaSistema(json);

                        //coloco en el modal
                        $("#bodyTabla").html(html);
                        metodosModalTabla();
                        $oTable = $("#tabla" + $nombreTabla).DataTable({
                            responsive: true,
                            "language": {
                                "url": leguange,
                            },
                            "bFilter": true,
                            "aoColumnDefs": [
                                {
                                    "targets": [0],
                                    "visible": false
                                },
                                {"sClass": "hide_me", "aTargets": json.indexHide}
                            ],
                            initComplete: function () {
                                this.api().columns('.select-filter').every(function () {
                                    var column = this;
                                    var select = $('<select><option value=""></option></select>')
                                            .appendTo($(column.footer()).empty())
                                            .on('change', function () {
                                                var val = $.fn.dataTable.util.escapeRegex(
                                                        $(this).val()
                                                        );

                                                column
                                                        .search(val ? '^' + val + '$' : '', true, false)
                                                        .draw();
                                            });

                                    column.data().unique().sort().each(function (d, j) {
                                        if (d !== "")
                                            select.append('<option value="' + d + '">' + d + '</option>')
                                    });
                                });
                                var filteredValues = [];
                                $("tfoot th.hide_me").each(function (index, value) {
                                    $select = $(this).clone();
                                    $select.children('select').attr('data-index', index);
                                    $select.children('select').attr('data-tabla', $nombreTabla);
                                    $select.children('select').addClass("selectFiltro");
                                    $select.children('select').addClass("select" + index);

                                    var someVariable = $select.html();

                                    filteredValues.push(someVariable);
                                });

                                $(".rowFiltros").html("<form autocomplete=off>"+filteredValues.toString()+"</form>");
                                $(".selectFiltro").change(function () {
                                    $index = $(this).data('index');
                                    $val = $(this).val();

                                    $($("tfoot th.hide_me > select")[$index]).val($val).change();
                                    $oTable.draw();
                                });
                                //ocultar
                                metodosSelect();

                            }
                        });
                        $($tablasDelSistema).each(function (index) {
                            this.active = false;
                        });
                        $tabla = {nombre: $nombreTabla, active: true, tabla: html, filtros: json.indexHide};
                        $tablasDelSistema.push($tabla);

                        $("#modalTabla").modal("show");
                        $(".btnTabla.active").removeClass("active");
                        $($lst).addClass("active");
                        $($lst).removeAttr("disabled");

                    },
                    // código a ejecutar si la petición falla;
                    // son pasados como argumentos a la función
                    // el objeto de la petición en crudo y código de estatus de la petición
                    error: function (xhr, status) {
                        $($lst).parent().removeAttr("disabled");
                    },
                });
            }
        }
    });
    function metodosModalTabla() {
        $(".cerrarTablaSistema").click(function () {
            $(this).attr("disabled", true);
            $tabla = "";
            $lst = $(this);
            $($tablasDelSistema).each(function (index) {
                if (this.active) {
                    $tabla = this.nombre;
                }
            });
            if ($tablasDelSistemaMinimizada !== $tabla) {
                $("#modalTabla").modal("hide");
                $($lst).removeAttr("disabled");
            } else {
                $tablasDelSistemaMinimizada = "";
                $("#litablaSistema").hide();
                $("#modalTabla").modal("hide");
                $($lst).removeAttr("disabled");
                /*$.ajax({
                 // la URL para la petición
                 url: '{{path('tablaSistema_eliminarSession')}}',
                 // la información a enviar
                 // (también es posible utilizar una cadena de datos)
                 data: {tabla: $tabla},
                 // especifica si será una petición POST o GET
                 type: 'GET',
                 // el tipo de información que se espera de respuesta
                 dataType: 'json',
                 // código a ejecutar si la petición es satisfactoria;
                 // la respuesta es pasada como argumento a la función
                 success: function (json) {
                 $tablasDelSistemaMinimizada = "";
                 $("#litablaSistema").hide();
                 $("#modalTabla").modal("hide");
                 $($lst).removeAttr("disabled");
                 },
                 // código a ejecutar si la petición falla;
                 // son pasados como argumentos a la función
                 // el objeto de la petición en crudo y código de estatus de la petición
                 error: function (xhr, status) {
                 $($lst).removeAttr("disabled");
                 },
                 });*/
            }

        });
        $(".minimizarTablaSistema").click(function () {
            $(this).attr("disabled", true);
            $lst = $(this);
            $tabla = "";

            $($tablasDelSistema).each(function (index) {
                if (this.active) {
                    $tabla = this.nombre;
                }
            });
            if ($tablasDelSistemaMinimizada === $tabla) {
                $("#modalTabla").modal("hide");
                $($lst).removeAttr("disabled");
            } else {
                $tablasDelSistemaMinimizada = $tabla;
                $("#tablaSistema").html($tabla + ' <i class="fa fa-sticky-note-o"></i>');
                $("#tablaSistema").data("tabla", $tabla);
                $("#litablaSistema").show();
                $("#modalTabla").modal("hide");
                $($lst).removeAttr("disabled");
                /*$.ajax({
                 // la URL para la petición
                 url: '{{path('tablaSistema_guardarSession')}}',
                 // la información a enviar
                 // (también es posible utilizar una cadena de datos)
                 data: {tabla: $tabla},
                 // especifica si será una petición POST o GET
                 type: 'GET',
                 // el tipo de información que se espera de respuesta
                 dataType: 'json',
                 // código a ejecutar si la petición es satisfactoria;
                 // la respuesta es pasada como argumento a la función
                 success: function (json) {
                 
                 },
                 // código a ejecutar si la petición falla;
                 // son pasados como argumentos a la función
                 // el objeto de la petición en crudo y código de estatus de la petición
                 error: function (xhr, status) {
                 $($lst).removeAttr("disabled");
                 },
                 });*/
            }
        });

    }
    function metodosSelect() {
        $(".select0").change(function () {

            $cantidad = $(".selectFiltro").length;

            $tablaInformacion = $(this).data('tabla');

            if ($tablaInformacion === "Inercia") {
                if ($(".select0").val() === "Vehículos Pasajeros" || $(".select0").val() === "Veículos Passagerios") {
                    $(".select1").show();
                    //visible true
                    $oTable.column(5).visible(false);
                    $oTable.column(6).visible(false);
                    $oTable.column(7).visible(false);
                    $oTable.column(9).visible(false);
                    $oTable.column(10).visible(false);
                    $oTable.column(11).visible(false);
                    $oTable.column(12).visible(false);
                    //visible false
                    $oTable.column(4).visible(true);
                } else if ($(".select0").val() === "Pick Ups" || $(".select0").val() === "Pick Ups") {

                    //visible false
                    $oTable.column(4).visible(false);
                    $oTable.column(6).visible(false);
                    $oTable.column(7).visible(false);
                    $oTable.column(10).visible(false);
                    $oTable.column(11).visible(false);
                    //visible true
                    $oTable.column(5).visible(true);
                    $oTable.column(9).visible(true);
                    $oTable.column(12).visible(true);
                } else if ($(".select0").val() === "Multipropósito" || $(".select0").val() === "Multipropósito") {
                    $(".select1").hide();
                    //visible false
                    $oTable.column(4).visible(false);
                    $oTable.column(5).visible(false);
                    $oTable.column(7).visible(false);
                    $oTable.column(9).visible(false);
                    $oTable.column(11).visible(false);
                    //visible true
                    $oTable.column(6).visible(true);
                    $oTable.column(10).visible(true);
                    $oTable.column(12).visible(true);
                } else if ($(".select0").val() === "Vans- Mini Vans" || $(".select0").val() === "Vans- Mini Vans") {
                    $(".select1").hide();
                    //visible false
                    $oTable.column(4).visible(false);
                    $oTable.column(5).visible(false);
                    $oTable.column(6).visible(false);
                    $oTable.column(9).visible(false);
                    $oTable.column(10).visible(false);
                    //visible true
                    $oTable.column(7).visible(true);
                    $oTable.column(11).visible(true);
                    $oTable.column(12).visible(true);
                }
            } else if ($tablaInformacion === "Rigidez") {
                if ($(".select0").val() === "Coeficiente de Rigidez para McHenry") {
                    $(".select1").show();
                    $(".select2").hide();
                    //visible true
                    $oTable.column(6).visible(true);
                    $oTable.column(7).visible(true);
                    $oTable.column(8).visible(true);
                    $oTable.column(9).visible(true);
                    //visible false
                    $oTable.column(10).visible(false);
                    $oTable.column(11).visible(false);
                } else {
                    $(".select1").hide();
                    $(".select2").show();
                    //visible false
                    $oTable.column(6).visible(false);
                    $oTable.column(7).visible(false);
                    $oTable.column(8).visible(false);
                    $oTable.column(9).visible(false);
                    $oTable.column(11).visible(false);
                    //visible true
                    $oTable.column(10).visible(true);
                }
            } else if ($tablaInformacion === "CentroGravedad") {
                if ($(".select0").val() === "Vehículos Pasajeros" || $(".select0").val() === "Veículos Passagerios") {
//visible false
                    $oTable.column(3).visible(false);
                    $oTable.column(9).visible(false);
                    $oTable.column(10).visible(false);
                    //visible true
                    $oTable.column(4).visible(true);
                    $oTable.column(5).visible(true);
                    $oTable.column(6).visible(true);
                    $oTable.column(7).visible(true);
                    $oTable.column(8).visible(true);
                } else {
//visible true
                    $oTable.column(3).visible(true);
                    $oTable.column(9).visible(true);
                    $oTable.column(10).visible(true);
                    //visible false
                    $oTable.column(4).visible(false);
                    $oTable.column(5).visible(false);
                    $oTable.column(6).visible(false);
                    $oTable.column(7).visible(false);
                    $oTable.column(8).visible(false);
                }
            }
        });
        $(".select1").change(function () {
            $cantidad = $(".selectFiltro").length;

            $tablaInformacion = $(this).data('tabla');
            if ($tablaInformacion === "Rigidez") {
                if (($(".select0").val() === "Coeficiente de Rigidez para McHenry") && ($(this).val() === "Vehículos Pasajeros" || $(this).val() === "Veículos Passagerios")) {
                    
                    $(".select2 option").removeAttr("selected");
                    $('.select2 option').eq(1).attr("selected", "selected");
                    $(".select2").change();
                    $(".select2").show();
                    //visible false
                    $oTable.column(6).visible(false);
                    $oTable.column(7).visible(false);
                    $oTable.column(8).visible(false);
                    $oTable.column(9).visible(false);
                    //visible true
                    $oTable.column(10).visible(true);
                    $oTable.column(11).visible(true);
                } else {
                    $(".select2 option").removeAttr("selected");
                    $('.select2 option').eq(0).attr("selected", "selected");
                    $(".select2").change();
                    $(".select2").hide();
                    //visible true
                    $oTable.column(6).visible(true);
                    $oTable.column(7).visible(true);
                    $oTable.column(8).visible(true);
                    $oTable.column(9).visible(true);
                    //visible false
                    $oTable.column(10).visible(false);
                    $oTable.column(11).visible(false);
                }
            }
        });
        $('.select0 option').eq(1).attr("selected", "selected");
        $('.select1 option').eq(1).attr("selected", "selected");
        $(".select0").change();
        $(".select1").change();

        if ($nombreTabla === "Rigidez") {
            $('.select1 option').eq(4).attr("selected", "selected");
            $(".select1").change();
            if ($(".select1").val() === "Vehículos Pasajeros" || $(".select1").val() === "Veículos Passagerios") {
                $('.select2 option').eq(1).attr("selected", "selected");
                $(".select2").change();
            } else {
                $('.select2 option').eq(0).attr("selected", "selected");
                $(".select2").change();
            }
        }


        if ($nombreTabla === "CentroGravedad") {
            $('.select0 option').eq(4).attr("selected", "selected");
            $(".select0").change();
        }

        if ($nombreTabla === "Inercia") {
            $('.select0 option').eq(4).attr("selected", "selected");
            $(".select0").change();
            /* $('.select1 option').eq(1).attr("selected", "selected");
             $(".select1").change();*/
        }

    }

</script>