{% import "ModuloBundle:Form:macro-formulavariable.html.twig" as macrosVariable %}

{% if key is null %}
    {% set idFormula = "__name__" %}
{% else %}
    {% set idFormula = key %}
{% endif %}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="panel-variable-{{idFormula}}" class="{% if key is null %} hidden {% endif %}">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div data-prototype="{{ macrosVariable.prototipoFormulaVariable(formulaVariable.vars.prototype)|e }}" class="formulavariable_{{ idFormula }}">
                    <div class='row'>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label>Traducción</label> 
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 ">
                            <label>Simbolo</label>    
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 ">
                            <label>Unidad</label>    
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 ">
                            <label>Acción</label>    
                        </div>
                    </div>
                    {% for variable in formulaVariable %}
                        {{ macrosVariable.prototipoFormulaVariable(variable) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // Get the ul that holds the collection of escuelas
    var collectionFormulaVariable_{{ idFormula }} = jQuery('.formulavariable_{{ idFormula }}');

    // jQuery(document).ready(function() {
    collectionFormulaVariable_{{ idFormula }}.data('index', collectionFormulaVariable_{{ idFormula }}.find(':input').length);

    jQuery('.formulavariable_{{ idFormula }}').delegate('.btnRemoveFormulaVariable', 'click', function (e) {
        // prevent the link from creating a "#" on  the URL
        e.preventDefault();
        // remove the li for the tag form
        removeForm(jQuery(this).closest('.rowremovevariable'));
    });

    jQuery('.ribon_dom_variable_{{ idFormula }}').delegate('.add_formulavariable_link', 'click', function (e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();
        // remove the li for the tag form
        addFormEmbed(collectionFormulaVariable_{{ idFormula }}, jQuery('.formulavariable_{{ idFormula }}'));
        $('#panel-variable-{{ idFormula }}').removeClass('hidden');
    });
    // });
</script>
