{% import "ModuloBundle:Form:macro-formulareferencia.html.twig" as macrosReferencia %}

{% if key is null %}
    {% set idFormula = "__name__" %}
{% else %}
    {% set idFormula = key %}
{% endif %}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="panel-referencia-{{idFormula}}" class="{% if key is null %} hidden {% endif %}">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div data-prototype="{{ macrosReferencia.prototipoFormulaRerencia(formulaReferencia.vars.prototype)|e }}" class="formulareferencia_{{ idFormula }}">
                    {% for referencia in formulaReferencia %}
                        {{ macrosReferencia.prototipoFormulaRerencia(referencia) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // Get the ul that holds the collection of escuelas
    var collectionFormulaReferencia_{{ idFormula }} = jQuery('.formulareferencia_{{ idFormula }}');
    var indexReferencia = {{formulaReferencia|length}};
    // jQuery(document).ready(function() {
    collectionFormulaReferencia_{{ idFormula }}.data('index', collectionFormulaReferencia_{{ idFormula }}.find(':input').length);

    jQuery('.formulareferencia_{{ idFormula }}').delegate('.btnRemoveFormulaReferencia', 'click', function (e) {
        // prevent the link from creating a "#" on  the URL
        e.preventDefault();

        // remove the li for the tag form
        removeForm(jQuery(this).closest('.rowremovereferencia'));
        indexReferencia--;
    });

    jQuery('.ribon_dom_referencia_{{ idFormula }}').delegate('.add_formulareferencia_link', 'click', function (e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();
        console.log(indexReferencia );
        if (indexReferencia < 2) {
            // remove the li for the tag form
            addFormEmbed(collectionFormulaReferencia_{{ idFormula }}, jQuery('.formulareferencia_{{ idFormula }}'));
            $('#panel-referencia-{{ idFormula }}').removeClass('hidden');
            indexReferencia++;
        }

    });
    // });
</script>
