{% import "ModuloBundle:Form:macro-formulaecuacion.html.twig" as macrosFormulaEcuacion %}

{% if key is null %}
    {% set idFormula = "__name__" %}
{% else %}
    {% set idFormula = key %}
{% endif %}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="panel-ecuaciones-{{idFormula}}" class="{% if key is null %} hidden {% endif %}">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div data-prototype="{{ macrosFormulaEcuacion.prototipoFormulaEcuacion(formulaEcuacion.vars.prototype,idFormula,"__nameembed__")|e }}" class="formulaecuacion_{{ idFormula }}">
                    <div class='row'>
                        <div class="col-lg-2 col-md-2 col-sm-2 ">
                            <label>Acción</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label>Traducción</label>
                            </div>
                        </div>

                    </div>
                    {% for indexEcuacion,f in formulaEcuacion %}
                        {{ macrosFormulaEcuacion.prototipoFormulaEcuacion(f, idFormula,indexEcuacion ) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var indexEcuacion{{ idFormula }};
    // Get the ul that holds the collection of escuelas
    var collectionFormulaEcuacion_{{ idFormula }} = jQuery('.formulaecuacion_{{ idFormula }}');

    // jQuery(document).ready(function() {
    collectionFormulaEcuacion_{{ idFormula }}.data('index', collectionFormulaEcuacion_{{ idFormula }}.find(':input').length);

    jQuery('.formulaecuacion_{{ idFormula }}').delegate('.btnRemoveFormulaEcuacion', 'click', function (e) {
        // prevent the link from creating a "#" on  the URL
        e.preventDefault();
        // remove the li for the tag form
        removeForm(jQuery(this).closest('.rowremoveecuacion'));
    });

    jQuery('.ribon_dom_ecuacion_{{ idFormula }}').delegate('.add_formulaecuacion_link', 'click', function (e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();
        // remove the li for the tag form
        indexEcuacion{{ idFormula }} = addFormEmbed(collectionFormulaEcuacion_{{ idFormula }}, jQuery('.formulaecuacion_{{ idFormula }}'));

        $('#panel-ecuaciones-{{ idFormula }}').removeClass('hidden')
    });

</script>
