{% macro formula(form,key) %}
    {% if key is null %}
        {% set idformula = "__name__" %}
    {% else %}
        {% set idformula = key %}
        <script type="text/javascript">
            addUl({{ idformula }}, "Crear Formula {{key+1}}");
        </script>
    {% endif %}
    <div class="rowremove tab-pane {% if idformula==0 %} active{%endif%}" id="formula_{{ idformula }}" li="formula-li-{{idformula}}">
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(form.translations) }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    {{ form_row(form.autoincremental) }}
                    <br> <br>
                    {{ form_row(form.file) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    {{ form_row(form.orden) }}
                    {{ form_row(form.publicar) }}
                </div>

            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading">     
                        <div class="ribon_dom_variable_{{ idformula }}"><button type="button" class='add_formulavariable_link btn btn-default'><span class="glyphicon glyphicon-plus"></span>&nbsp;Nueva Variable</button></div>
                    </div>
                    <div class="panel-body">
                        {% include 'ModuloBundle:widget:add-variable.html.twig' with { 'formulaVariable' : form.variables, 'key': key  } %}
                    </div>
                </div>
                <div class='col-lg-1 col-md-1 col-sm-1 hidden'>
                    <a id="formula_remove_{{ idformula }}" class='btnRemoveformula btn btn-sm btn-danger' href='javascript:;'>
                        <i class='glyphicon glyphicon-trash'></i>
                    </a>
                </div>
            </div>
        </div>
        {#<div class="row form-group">
            <div class="col-xs-12">
                <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                    <li class="active"><a href="#step-{{idformula}}-1">
                            <h4 class="list-group-item-heading">Ecuaciones</h4>
                            <p class="list-group-item-text">crear ecuaciones</p>
                        </a>
                    </li>
                    <li class="disabled"><a href="#step-{{idformula}}-2">
                            <h4 class="list-group-item-heading">Referecias</h4>
                            <p class="list-group-item-text">crear referencias</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>#}
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading">       
                        <div class="ribon_dom_ecuacion_{{ idformula }}"><button type="button" class='add_formulaecuacion_link btn btn-default'><span class="glyphicon glyphicon-plus"></span>&nbsp;Nueva Operación</button></div>
                    </div>
                    <div class="panel-body">
                        {% include 'ModuloBundle:widget:add-ecuacion.html.twig' with { 'formulaEcuacion' : form.ecuacion, 'key': key  } %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
    <script type="text/javascript">
            var str;
            /*$('#tabs-container select').change(function() {
             $('#' + this.id + ' option:selected').each(function() {
             str = $(this).text();
             $(".tab-content .tab-pane").each(function(){
             if ($(this).hasClass('active')) {
             var result = $(this).attr("id").split("formula_")[1];
             $('#formula-a-' + result).html(str + '&nbsp;<i id="formula-borrar-' + result + '" class="pull-right btn btn-xs btn-danger glyphicon glyphicon-trash pull-right"></i>');
             }
             });
             });
             });*/
            $('.formulatabs-ul').bind('click', function(event) {
            if (event.target.id === "formula-borrar-" +{{idformula}} ){
            if (confirm("Esta Seguro que desea Eliminar esta formula?")) {
            $("#formula_remove_" +{{idformula}} ).trigger("click");
            }
            }
            });
    </script>
    <script type="text/javascript">
        //$(document).ready(function () {
        /* var navListItems = $('#formula_{{ idformula }} ul.setup-panel li a'),
         allWells = $('#formula_{{ idformula }} .setup-content');
         allWells.hide();
         navListItems.click(function (e)
         {
         e.preventDefault();
         var $target = $($(this).attr('href')),
         $item = $(this).closest('li');
         if (!$item.hasClass('disabled')) {
         navListItems.closest('li').removeClass('active');
         $item.addClass('active');
         allWells.hide();
         $target.show();
         }
         });
         $('#formula_{{ idformula }} ul.setup-panel li.active a').trigger('click');
         // DEMO ONLY //
         $('#activate-step-{{idformula}}-2').on('click', function (e) {
         $('#formula_{{ idformula }} ul.setup-panel li:eq(1)').removeClass('disabled');
         $('#formula_{{ idformula }} ul.setup-panel li a[href="#step-{{idformula}}-2"]').trigger('click');
         $(this).remove();
         })
         });*/</script>
    {% endmacro %}

<script src="{{ asset('bundles/modulo/js/formulaAddUl.js') }}"></script>
<div class="well">
    <div class="row">
        <div class='col-lg-12 col-md-12 col-sm-12'>
            <div class="ribon_dom">
                <button type="button" class='add_formula_link btn btn-outline btn-primary'><span class="glyphicon glyphicon-plus"></span>&nbsp;Nueva Formula</button>
            </div>
            <br>
        </div>
        <div id="tabs-container">
            <ul class="nav nav-tabs formulatabs-ul"></ul>
            <div data-prototype="{{ _self.formula(form.vars.prototype)|e }}" class="formulas tab-content">
                {% for key,f in form %}
                    {{ _self.formula(f, key) }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('bundles/modulo/js/formula.js') }}"></script>
