{% macro prototipoUnidad(entity)  %}
    <style type="text/css">
        .checkbox {
            margin-top: 0px !important;
        }
    </style>   
    <div class='rowremoveecuacionunidad row'>
        <div class="col-lg-8 col-md-8 col-sm-8">
            {{ form_row(entity.unidad) }}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            {{ form_widget(entity.principal) }}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 ">
            <a class='btnRemoveFormulaEcuacionUnidad btn btn-sm btn-danger' href='javascript:;'><i class='glyphicon glyphicon-trash'></i></a>
        </div>
    </div>   
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
{% endmacro %}




<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="panel-ecuacionesUnidad-{{idFormula}}{{idEcuacion}}" class="{% if key is null %} hidden {% endif %}">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div data-prototype="{{ _self.prototipoUnidad(form.vars.prototype)|e }}" class="formulaecuacionunidad_{{ idFormula }}{{idEcuacion}}">
                    <div class='row'>
                        {% for f in form %}
                            {{ _self.prototipoUnidad(f ) }}
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // Get the ul that holds the collection of escuelas
    var collectionFormulaEcuacionUnidad_{{ idFormula }}{{idEcuacion}} = jQuery('.formulaecuacionunidad_{{ idFormula }}{{idEcuacion}}');

    // jQuery(document).ready(function() {
    collectionFormulaEcuacionUnidad_{{ idFormula }}{{idEcuacion}}.data('index', collectionFormulaEcuacionUnidad_{{ idFormula }}{{idEcuacion}}.find(':input').length);

    jQuery('.formulaecuacionunidad_{{ idFormula }}{{idEcuacion}}').delegate('.btnRemoveFormulaEcuacionUnidad', 'click', function (e) {
        // prevent the link from creating a "#" on  the URL
        e.preventDefault();
        // remove the li for the tag form
        removeForm(jQuery(this).closest('.rowremoveecuacionunidad'));
    });

    jQuery('.ribon_dom_formulaecuacionunidad_{{ idFormula }}{{idEcuacion}}').delegate('.add_formulaecuacionunidad_link', 'click', function (e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();
        var idEcuacion="{{idEcuacion}}";
        //console.log(idEcuacion);
        // remove the li for the tag form
        var index = addFormEmbedSegundo(collectionFormulaEcuacionUnidad_{{ idFormula }}{{idEcuacion}}, jQuery('.formulaecuacionunidad_{{ idFormula }}{{idEcuacion}}'));

        $('#panel-ecuacionesUnidad-{{ idFormula }}{{idEcuacion}}').removeClass('hidden')
    });
</script>
