<link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap.min.css') }}" rel="stylesheet">
<script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
<script src="{{ url('bazinga_jstranslation_js', { 'domain': 'TecsproFrontBundle' }) }}"></script>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-primary ">
            <div class="box-body">
                {% block form %}

                    {% form_theme form 'TecsproARCBundle:Form:form-arc-campos.html.twig' %}

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        {{ form(form) }}
                        <div class="text-right">                        
                            <button class='btn btn-primary' id='btn_calcular_arc'>
                                {{ 'Calcular'|trans({}, 'TecsproARCBundle') }}
                            </button>
                        </div>
                    </div>
                    <br><br>
                    <table class="table table-condensed" id='tabla_resultados'>
                    </table> 
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<script id="hb_body_arc_1" type="text/x-handlebars-template">
    {% verbatim %}
        <thead>
        <th>
        <td> {{#traducir 'arc.Tiempo' 'TecsproFrontBundle'}}{{/traducir}}</td>
        <td> {{#traducir 'arc.Posicion' 'TecsproFrontBundle'}}{{/traducir}}</td>
        <td> {{#traducir 'arc.Velocidad' 'TecsproFrontBundle'}}{{/traducir}}</td>
        <td> {{#traducir 'arc.Estado' 'TecsproFrontBundle'}}{{/traducir}}</td>                 
        </th> 
        </thead>
        <tbody id='resultadosARC'>
        {{#each this}}
        <tr>
        {{#ifdanger this.estado }}

        <td class='danger'> - </td>
        <td class='danger'> {{this.tiempo}} </td>
        <td class='danger'> {{this.posicion}} </td>
        <td class='danger'> {{this.velocidad}} </td>
        <td class='danger'> {{#traducirEstados this.estado }}  {{/traducirEstados}} </td>
        {{ else }}

        {{#ifwarning this.estado }}

        <td class='warning'> - </td>
        <td class='warning'> {{this.tiempo}} </td>
        <td class='warning'> {{this.posicion}} </td>
        <td class='warning'> {{this.velocidad}} </td>
        <td class='warning'> {{#traducirEstados this.estado }}  {{/traducirEstados}} </td>

        {{ else }}
        <td class='success'> - </td>
        <td class='success'> {{this.tiempo}} </td>
        <td class='success'> {{this.posicion}} </td>
        <td class='success'> {{this.velocidad}} </td>
        <td class='success'>{{#traducirEstados this.estado }}  {{/traducirEstados}}</td>
        {{/ifwarning}}
        {{/ifdanger}} 
        </tr>
        {{/each}}
        </tbody> 

    {% endverbatim %}
</script>

<script id="hb_body_arc_2" type="text/x-handlebars-template">
    {% verbatim %}
        <thead>
        <th>
        <td> {{#traducir 'arc.Tiempo' 'TecsproFrontBundle'}}{{/traducir}}</td>
        <td> {{#traducir 'arc.Posicion' 'TecsproFrontBundle'}}{{/traducir}} 1</td>
        <td> {{#traducir 'arc.Velocidad' 'TecsproFrontBundle'}}{{/traducir}} 1</td>
        <td> {{#traducir 'arc.Estado' 'TecsproFrontBundle'}}{{/traducir}}1 </td> 
        <td> {{#traducir 'arc.Posicion' 'TecsproFrontBundle'}}{{/traducir}} 2</td>
        <td> {{#traducir 'arc.Velocidad' 'TecsproFrontBundle'}}{{/traducir}} 2</td>
        <td> {{#traducir 'arc.Estado' 'TecsproFrontBundle'}}{{/traducir}} 2</td>            
        </th> 
        </thead>
        <tbody id='resultadosARC'>
        {{#each this}}                  
        <tr> 
        {{#ifdanger this.estado_1 }}

        <td class='danger'> - </td>
        <td class='danger'> {{this.tiempo}} </td>
        <td class='danger'> {{this.posicion_1}} </td>
        <td class='danger'> {{this.velocidad_1}} </td>
        <td class='danger'> {{#traducirEstados this.estado_1 }}  {{/traducirEstados}} </td>
        {{ else }}

        {{#ifwarning this.estado_1 }}

        <td class='warning'> - </td>
        <td class='warning'> {{this.tiempo}} </td>
        <td class='warning'> {{this.posicion_1}} </td>
        <td class='warning'> {{this.velocidad_1}} </td>
        <td class='warning'> {{#traducirEstados this.estado_1 }}  {{/traducirEstados}} </td>
        {{ else }}

        <td class='success'> - </td>
        <td class='success'> {{this.tiempo}} </td>
        <td class='success'> {{this.posicion_1}} </td>
        <td class='success'> {{this.velocidad_1}} </td>
        <td class='success'> {{#traducirEstados this.estado_1 }}  {{/traducirEstados}} </td>
        {{/ifwarning}}

        {{/ifdanger}} 

        {{#ifdanger this.estado_2 }}

        <td class='danger'> {{this.posicion_2}} </td>
        <td class='danger'> {{this.velocidad_2}} </td>
        <td class='danger'> {{#traducirEstados this.estado_2 }}  {{/traducirEstados}} </td>
        {{ else }}

        {{#ifwarning this.estado_2 }}

        <td class='warning'> {{this.posicion_2}} </td>
        <td class='warning'> {{this.velocidad_2}} </td>
        <td class='warning'> {{#traducirEstados this.estado_2 }}  {{/traducirEstados}} </td>

        {{ else }}

        <td class='success'> {{this.posicion_2}} </td>
        <td class='success'> {{this.velocidad_2}} </td>
        <td class='success'> {{#traducirEstados this.estado_2 }}  {{/traducirEstados}} </td>
        {{/ifwarning}}
        {{/ifdanger}} 
        </tr>
        {{/each}}
        </tbody>  
    {% endverbatim %}
</script>

<script src="{{ asset('bundles/tecsprofront/js/addForm.js') }}"></script>
<script src="{{ asset('bundles/tecsprofront/js/handlebars-v4.0.5.js') }}"></script>

<script type="text/javascript">
    var circulando = 0;
    var desacelerando = 1;
    var colicionado = 2;
    $(document).keypress(function (e) {
        if (e.which === 13) {
            $("#btn_calcular_arc").trigger('click');
            return false;
        }
    });
    Handlebars.registerHelper('traducir', function (variable, catalogo, options) {

        return  Translator.trans(variable, {}, catalogo);
    });
    Handlebars.registerHelper('traducirEstados', function (conditional, options) {

        if (conditional === circulando) {
            return Translator.trans('circulando', {}, 'TecsproARCBundle');

        } else if (conditional === desacelerando) {
            return Translator.trans('desacelerando', {}, 'TecsproARCBundle');
        } else {
            return Translator.trans('colisionado', {}, 'TecsproARCBundle');
        }
    });


    Handlebars.registerHelper('ifdanger', function (conditional, options) {

        if (conditional === colicionado) {

            return options.fn(this);
        } else {

            return options.inverse(this);
        }
    });

    Handlebars.registerHelper('ifwarning', function (conditional, options) {

        if (conditional === desacelerando) {

            return options.fn(this);
        } else {

            return options.inverse(this);
        }
    });

    var $templateARC;
    var $templateARC_2

    if (typeof $templateARC === "undefined") {

        var source = $("#hb_body_arc_1").html();
        $templateARC = Handlebars.compile(source);
    }

    if (typeof $templateARC_2 === "undefined") {

        var source = $("#hb_body_arc_2").html();
        $templateARC_2 = Handlebars.compile(source);
    }

    $(document).ready(function () {
        $("#tecspro_arcbundle_arccampos_save").click(function (e) {
            e.preventDefault;
            $fomString = JSON.stringify($formSession);
            if ($(".txtParteInvolucrada").length > 0) {
                $partesInvolucradasArray = [];
                for ($i = 0; $i < $(".txtParteInvolucrada").length; $i++) {
                    $partesInvolucradasArray.push($(".txtParteInvolucrada")[$i].value);
                }
                $partesInvolucradas = JSON.stringify($partesInvolucradasArray);
                $("#tecspro_arcbundle_arccampos_partesInvolucradas").val($partesInvolucradas);
            }


            $("#tecspro_arcbundle_arccampos_formulasParameter").val($fomString);
            $("#tecspro_arcbundle_arccampos_nombreProyecto").val($(".txtNombre").val());
            $("#tecspro_arcbundle_arccampos_comentariosProyecto").val($(".txtComentario").val());
            $("#tecspro_arcbundle_arccampos_fechaProyecto").val($(".txtFecha").val());
            $(".btnGuardar").attr("disabled", true);
            $("#tecspro_frontbundle_proyecto_save").attr("disabled", true);

        });

        $("#btn_calcular_arc").click(function () {

            calcular_velocidad();
        });
    });
</script>
