{% block tecspro_arcbundle_arccampos_widget %}

    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    {{ form_errors(form) }}

    <fieldset>

        <div class='row'>
            <div class="col-lg-2 col-md-2 col-sm-2" title="{{ 'ToolTip.ARC.cantidadVehiculos'|trans({}, 'TecsproARCBundle') }}">
                {{ form_row(form.cantidadVehiculos) }}
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3" title="{{ 'ToolTip.ARC.fraccionDeTiempo'|trans({}, 'TecsproARCBundle') }}">
                {{ form_row(form.fraccionDeTiempoAAnalizar) }}
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2" title="{{ 'ToolTip.ARC.imprimir'|trans({}, 'TecsproARCBundle') }}">
                {{ form_row(form.imprimir) }}
                {{ form_row(form.formulasParameter) }}
                {{ form_row(form.fechaProyecto) }}
                {{ form_row(form.nombreProyecto) }}
                {{ form_row(form.comentariosProyecto) }}
                {{ form_row(form.partesInvolucradas) }}
                {{ form_row(form.cerraProyecto) }}
            </div> 
        </div>

    </fieldset>

    <fieldset>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {% include 'TecsproARCBundle:widget:addArcVehiculo.html.twig' with { 'form' : form } %}
            </div>
        </div>
        <br>
    </fieldset>
{% endblock %}
