   <script id="hbImportarResultadoFormula" type="text/x-handlebars-template">
        {% verbatim %}
            <div class="modal-body"> 
                {{#each this}}  
                        {{#ifmayornumb cantEcuaciones 1}} 
                            <div class="btn-group">
                                <button type="button" data-valor="{{resultado}}" data-key="{{key}}" data-tipo="ecuaciones"  class="btn btn-default btnSelectResultadoImport">
                                    {{formula}} {{cantEcuaciones}} de Resultados
                                </button>
                            </div>                            
                        {{else}}
                            {{#ifautoincrementartrue ecuaciones.0.autoincrementar }} 
                                <div class="btn-group">
                                    <button type="button" data-valor="{{valor}}" data-key="{{key}}" data-tipo="autoincremetar"  data-idecuacion="{{ecuaciones.0.idEcuacion}}" class="btn btn-default btnSelectResultadoImport">
                                        {{formula}} Resultado Autoicremental
                                    </button>
                                </div>     
                            {{else}}
                                <div class="btn-group"> 
                                    <button type="button" class="btn btn-default btnSelectResultadoImport" data-valor="{{ecuaciones.0.resultado}}" data-key="{{key}}" data-idEcuacion="{{idEcuacion}}" data-tipo="simple" >
                                        {{formula}}  {{ecuaciones.0.resultado}} {{ecuaciones.0.unidad}}
                                    </button>
                                    {{#ifmayornumb ecuaciones.0.unidades.length 0}} 
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            {{#each ecuaciones.0.unidades}}
                                                <li><a class="btnSelectResultadoImport" data-tipo="seleccionUnidad" data-autoicremental="false" data-key="{{../key}}" data-valor="{{resultado}}" href="javascript:;">{{resultado}} - {{simbolo}}</a></li>
                                            {{/each}}
                                        </ul>
                                 
                                    {{/ifmayornumb}} 
                                     </div>   
                       
                            {{/ifautoincrementartrue}} 
                    {{/ifmayornumb}}
                <br>  
                {{/each}}              
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cerrar
                </button>
            </div> 
        {% endverbatim %}
    </script>

    <script id="hbImportarResultadoEcuaciones" type="text/x-handlebars-template">
        {% verbatim %}
            <div class="modal-body"> 
                {{#each this.ecuaciones}}
                    {{#ifautoincrementartrue autoincrementar }}
                        <div class="btn-group"> 
                            <button type="button"  data-key="{{key}}" data-idEcuacion="{{idEcuacion}}" data-tipo="autoincremetar"  class="btn btn-default btnSelectResultadoImport">
                                {{ecuacion}} Resultado Autoicremental
                            </button>
                        </div>    
                    {{else}} 
                    <div class="btn-group"> 
                        <button type="button" class="btn btn-default btnSelectResultadoImport" data-valor="{{resultado}}" data-key="{{key}}" data-idEcuacion="{{idEcuacion}}" data-tipo="simple" >
                            {{ecuacion}} - {{resultado}} {{unidad}}
                        </button>
                        {{#ifmayornumb unidades.length 0}} 
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                {{#each unidades}}
                                    <li><a class="btnSelectResultadoImport" data-tipo="seleccionUnidad" data-autoicremental="false" data-key="{{../key}}" data-valor="{{resultado}}" href="javascript:;">{{resultado}} - {{simbolo}}</a></li>
                                {{/each}}
                            </ul> 
                        {{/ifmayornumb}} 
                    </div>          
                    {{/ifautoincrementartrue}}
                {{/each}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btnAtrasImportar" >
                Atras
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                Cerrar
                </button>
            </div> 
        {% endverbatim %}
    </script>

    <script id="hbImportarResultadoAutoicremental" type="text/x-handlebars-template">
        {% verbatim %}
            <div class="modal-body">       
            <div class="list-group">
            <div class="text-center">
            <div class="btn-group">
            <button type="button" class="btn btn-default">
            {{ecuacion}}
            </button>
            {{#ifmayornumb unidades.length 0}} 
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
            <li><a class="btnSelectResultadoImport" data-idEcuacion="{{idEcuacion}}" data-tipo="seleccionUnidad" data-autoicremental="true" data-simbolo="{{unidad}}" data-key="{{key}}" href="javascript:;">{{unidad}}</a></li>
            {{#each unidades}}
            <li><a class="btnSelectResultadoImport" data-idEcuacion="{{../idEcuacion}}" data-tipo="seleccionUnidad" data-autoicremental="true" data-simbolo="{{simbolo}}" data-key="{{../key}}" href="javascript:;">{{simbolo}}</a></li>
            {{/each}}
            </ul>
            </div>   
            {{/ifmayornumb}} 
            </div>
            </div>
            <a href="javascript:;" data-valor="{{resultadoMedio}}" data-key="{{key}}" data-tipo="escuaciones" class="list-group-item btnSelectResultadoImportActive">
            <span class="badge">{{resultadoMedio}} {{unidad}}</span>
            Resultado Medio
            </a>
            <a href="javascript:;" data-valor="{{resultadoMinimo}}" data-key="{{key}}" data-tipo="escuaciones" class="list-group-item btnSelectResultadoImportActive">
            <span class="badge">{{resultadoMinimo}} {{unidad}}</span>
            Resultado Minimo 
            </a>
            <a href="javascript:;" data-valor="{{resultadoMaximo}}" data-key="{{key}}" data-tipo="escuaciones" class="list-group-item btnSelectResultadoImportActive">
            <span class="badge">{{resultadoMaximo}} {{unidad}}</span>
            Resultado Maximo
            </a>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default btnAtrasImportar" >
            Atras
            </button>
            <button type="button" class="btn btn-primary btnAceptarImportar" >
            Aceptar
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
            Cerrar
            </button> 
            </div>
        {% endverbatim %}
    </script>

    <script id="hbSelectFormulasByGroup" type="text/x-handlebars-template">
        {% verbatim %}
            {{#each this}} 
            <a href="javascript:;" data-orden="{{orden}}" data-json="{{json}}" data-formula="{{idFormula}}" class="list-group-item btnRenderFormula">
            {{formula}}
            </a>
            {{/each}} 
        {% endverbatim %}
    </script>