<script id="hbPanelVariable" type="text/x-handlebars-template">
        {% verbatim %} 
            <div class="col-lg-12 col-md-12 col-sm-12">                 
                <div class="thumbnail">    
                    {{{image upload_dir file_path}}}      
                    <div class="caption">    
                        <h3>{{#traducirEntity translations 'nombre'}}  {{/traducirEntity}}</h3>   
                        <p>{{#traducirEntity  grupo.categoria.translations 'nombre'}}  {{/traducirEntity}}</p>
                        <p>   
                            {{{file translations}}}
                            <span class="button-checkbox-imprimir">  
                                <button title={{#traducir 'Handlebar.ToolTip.MensajeImprimir' 'TecsproFrontBundle'}}  {{/traducir}}
                                type="button"  
                                class="btn btnImprimirCheck" 
                                data-color="primary">   
                                    <i class="glyphicon glyphicon-print">  
                                    </i>  
                                </button>   
                                <input type="checkbox"  class="hidden" {{#ifautoincrementartrue imprimir }} checked {{/ifautoincrementartrue}}/>
                            </span> 
                        </p> 
                    </div>   
                </div>   
                {{#ifmayor0 grupo.constantes.length }}
                <div class="box box-info">
                    <div class="box-header"> 
                        <h3 class="box-title"> {{#traducir 'Handlebar.Constantes' 'TecsproFrontBundle'}}  {{/traducir}}</h3>
                    </div>
                    <div class="box-body"> 
                        <ul class="list-group"> 
                            {{#each grupo.constantes}}  
                            <li class="list-group-item"> 
                                <span class="badge"> {{valor}}&nbsp;&nbsp;{{unidad.simbolo}}</span>
                                {{identificador}}: {{#traducirEntity unidad.translations 'nombre'}}  {{/traducirEntity}}
                            </li>
                            {{/each}}   
                        </ul>  
                        <div class="form-group">
                            <label for="nombrepersonalizado">{{#traducir 'NombrePersonalizado' 'TecsproFrontBundle'}}{{/traducir}}</label>
                            <input class="form-control txtNombrepersonalizado" type="text" value="{{nombre_personalizado}}">
                        </div>
                    </div>
                </div> 
                 {{else}}   
                 <div class="box box-info">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="nombrepersonalizado">{{#traducir 'NombrePersonalizado' 'TecsproFrontBundle'}}{{/traducir}}</label>
                            <input class="form-control txtNombrepersonalizado" type="text" value="{{nombre_personalizado}}">
                        </div>
                    </div>
                </div> 
                {{/ifmayor0}}  
                <div class="box" >
                    <div class="box-body no-padding">     
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <table class="table table-striped">
                                    <thead> 
                                        <tr>
                                            <th title={{#traducir 'Handlebar.ToolTip.Variable' 'TecsproFrontBundle'}}  {{/traducir}}>
                                            {{#traducir 'Handlebar.Variable' 'TecsproFrontBundle'}}  {{/traducir}} </th>

                                            <th title={{#traducir 'Handlebar.ToolTip.Accion.Botones' 'TecsproFrontBundle'}}  {{/traducir}}>
                                            {{#traducir 'Handlebar.Accion' 'TecsproFrontBundle'}}  {{/traducir}}</th>   
                                        </tr> 
                                    </thead>
                                    {{#ifautoincrementartrue autoincremental }}
                                    <tbody class="rowAutoincremental"> 
                                        {{#each variables}} 
                                        <tr> 
                                            <td> 
                                                <div class="row">  
                                                    <div id="variable{{id}}{{@index}}" 
                                                    class="col-lg-12 col-md-12 col-sm-12 formularioAutoincremntal" {{#ifautoincrementartrue autoincrementar }}  style="display:none"  {{/ifautoincrementartrue}}>
                                                        <div class="form-group multiple-form-group input-group">
                                                            <span class="input-group-addon nombreAutoincremental">{{#traducirEntity translations 'nombre'}}  {{/traducirEntity}} {{simbolo}}{{sum @index 1}}</span>
                                                                <input id="variable{{simbolo}}" data-tipo="valor" tabindex="{{@index}}" data-idvariable="{{id}}" data-nombre="{{#traducirEntity translations 'nombre'}}  {{/traducirEntity}}" data-idvariableindex="{{@index}}"  data-simbolo="{{simbolo}}" {{#ifautoincrementarfalse autoincrementar }} value="{{valor}}"{{/ifautoincrementarfalse}} class="form-control txtVariables soloNumeros txtVariables{{id}}{{@index}} guardar" type="text" name="variablesValor['value'][]" >
                                                                <span class="input-group-btn ">
                                                                <button type="button" class="btn btn-danger btn-remove"  onClick="removerItem(this);" data-index="{{@index}}">-</button>
                                                                <button type="button" class="btn btn-default">{{unidad.simbolo}}</button>
                                                            </span>
                                                        </div> 
                                                    </div>   
                                                    <div id="autoincremental{{id}}{{@index}}" class="col-lg-12 col-md-12 col-sm-12 panelAutoincrementar" {{#ifautoincrementarfalse autoincrementar }}  style="display:none"  {{/ifautoincrementarfalse}}>
                                                        <div class="col-xs-4 col-md-4">  
                                                            <div class="col-xs-5 col-md-5">
                                                                <label>Particiones</label>
                                                            </div>
                                                            <div class="col-xs-7 col-md-7">
                                                                <select id="txtParticion{{id}}{{@index}}" data-idvariable="{{id}}" data-idvariableindex="{{@index}}" class="form-control mensajes soloNumeros guardar" data-tipo="particiones" data-toggle="popover" title="Mensaje" data-content="Ingrese cantidad de particiones...">
                                                                <option val="2" {{#ifCond particiones 2}}selected {{/ifCond}}>2</option>
                                                                <option val="3" {{#ifCond particiones 3}}selected {{/ifCond}}>3</option>        
                                                                <option val="4" {{#ifCond particiones 4}}selected {{/ifCond}}>4</option>
                                                                <option val="5" {{#ifCond particiones 5}}selected {{/ifCond}}>5</option>
                                                                <option val="6" {{#ifCond particiones 6}}selected {{/ifCond}}>6</option>   
                                                                <option val="7" {{#ifCond particiones 7}}selected {{/ifCond}}>7</option>
                                                                <option val="8" {{#ifCond particiones 8}}selected {{/ifCond}}>8</option>
                                                                <option val="9" {{#ifCond particiones 9}}selected {{/ifCond}}>9</option>          
                                                                <option val="10" {{#ifCond particiones 10}}selected {{/ifCond}}>10</option>  
                                                                </select> 
                                                            </div>   
                                                        </div> 
                                                        <div class="col-xs-3 col-md-3">
                                                            <input id="txtValorDesde{{id}}{{@index}}" data-tipo="valorDesde" data-idvariableindex="{{@index}}" class="form-control guardar mensajes soloNumeros txtVariables{{id}}{{@index}}" type="text" required=""  data-toggle="popover" title="Mensaje" data-content="Ingrese valor minimo..." value="{{valor_desde}}">
                                                        </div>
                                                        <div class="col-xs-3 col-md-3">
                                                            <input id="txtValorHasta{{id}}{{@index}}" data-tipo="valorHasta" data-idvariableindex="{{@index}}" class="form-control guardar mensajes soloNumeros txtVariables{{id}}{{@index}}" type="text" required="" data-toggle="popover" title="Mensaje" data-content="Ingrese valor maximo..." value="{{valor_hasta}}">
                                                        </div>
                                                        <div class="col-xs-2 col-md-2"> 
                                                            <button type="button"  onClick="removerItem(this);" class="btn btn-danger btn-remove" data-index="{{@index}}">-</button>
                                                            <button type="button" class="btn btn-default">{{unidad.simbolo}}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td> 
                                            <td> 
                                                <a title={{#traducir 'Handlebar.ToolTip.Accion.Autoincr' 'TecsproFrontBundle'}}  {{/traducir}}
                                                href="javascript:;" data-variable="{{id}}{{@index}}" class="btnIncremento"  data-idvariable="{{id}}" data-index="{{@index}}"
                                                onClick="btnAutoincremental(this)" >
                                                    <span class="glyphicon glyphicon-sort-by-attributes-alt"> 
                                                    </span>
                                                </a>
                                                <a title={{#traducir 'Handlebar.ToolTip.Accion.Importar' 'TecsproFrontBundle'}}  {{/traducir}}
                                                href="javascript:;" data-variable="variable{{simbolo}}{{@index}}" data-idvariable="{{id}}{{@index}}" data-index="{{@index}}"
                                                class="btnImportar" >
                                                    <span class="glyphicon glyphicon-open"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        {{/each}}  
                                    </tbody>  
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td> <button type="button" class="btn btn-success btn-add">+</button></td>
                                        </tr>
                                    </tfoot>
                                    {{/ifautoincrementartrue}}
                                    {{#ifautoincrementarfalse autoincremental }} 
                                    <tbody>
                                        {{#each variables}}
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                                            {{#traducirEntity translations 'nombre'}}  {{/traducirEntity}}
                                                        </div>
                                                        <div id="variable{{id}}" class="col-lg-8 col-md-8 col-sm-8" {{#ifautoincrementartrue autoincrementar }}  style="display:none"  {{/ifautoincrementartrue}}>
                                                            <div class="form-group input-group">
                                                                <span class="input-group-addon">{{simbolo}}</span>
                                                                <input id="variable{{simbolo}}" tabindex="1" data-tipo="valor" data-idvariable="{{id}}" data-simbolo="{{simbolo}}" {{#ifautoincrementarfalse autoincrementar }} value="{{valor}}"{{/ifautoincrementarfalse}} class="form-control txtVariables txtVariables{{id}} soloNumeros guardar" type="text">
                                                                <span class="input-group-addon">{{unidad.simbolo}}</span>
                                                            </div>
                                                        </div>
                                                        <div id="autoincremental{{id}}" class="col-lg-8 col-md-8 col-sm-8 panelAutoincrementar" {{#ifautoincrementarfalse autoincrementar }}  style="display:none"  {{/ifautoincrementarfalse}}>
                                                            <div class="col-xs-6 col-md-6">
                                                                <div class="col-xs-5 col-md-5">
                                                                    <label>Particiones</label>
                                                                </div>
                                                                <div class="col-xs-7 col-md-7">
                                                                    <select tabindex="-1" id="txtParticion{{id}}" data-tipo="particiones" data-idvariable="{{id}}" class="form-control mensajes guardar"  data-toggle="popover" title="Mensaje" data-content="Ingrese cantidad de particiones...">
                                                                    <option val="2" {{#ifCond particiones 2}}selected {{/ifCond}}>2</option>
                                                                    <option val="3" {{#ifCond particiones 3}}selected {{/ifCond}}>3</option>        
                                                                    <option val="4" {{#ifCond particiones 4}}selected {{/ifCond}}>4</option>
                                                                    <option val="5" {{#ifCond particiones 5}}selected {{/ifCond}}>5</option>
                                                                    <option val="6" {{#ifCond particiones 6}}selected {{/ifCond}}>6</option>   
                                                                    <option val="7" {{#ifCond particiones 7}}selected {{/ifCond}}>7</option>
                                                                    <option val="8" {{#ifCond particiones 8}}selected {{/ifCond}}>8</option>
                                                                    <option val="9" {{#ifCond particiones 9}}selected {{/ifCond}}>9</option>          
                                                                    <option val="10" {{#ifCond particiones 10}}selected {{/ifCond}}>10</option>  
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-3 col-md-3">
                                                                <input id="txtValorDesde{{id}}" tabindex="1" data-tipo="valorDesde" data-idvariable="{{id}}" class="form-control mensajes txtVariables{{id}} guardar soloNumeros" type="text" required=""  data-toggle="popover" title="Mensaje" data-content="Ingrese valor minimo..." value="{{valor_desde}}" data-tipo="valor_desde">
                                                            </div>
                                                            <div class="col-xs-3 col-md-3">
                                                                <input id="txtValorHasta{{id}}" tabindex="1" data-tipo="valorHasta" data-idvariable="{{id}}" class="form-control mensajes txtVariables{{id}} guardar soloNumeros" type="text" required="" data-toggle="popover" title="Mensaje" data-content="Ingrese valor maximo..." value="{{valor_hasta}}" data-tipo="valor_hasta">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td> 
                                                <td>
                                                    <a tabindex="-1" title={{#traducir 'Handlebar.ToolTip.Accion.Autoincr' 'TecsproFrontBundle'}}  {{/traducir}}
                                                    href="javascript:;" data-variable="{{id}}" class="btnAutoincrementar"  data-index="{{@index}}"data-idvariable="{{id}}"
                                                    onClick="btnAutoincremental(this)" >
                                                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                                    </a>
                                                    <a tabindex="-1" title={{#traducir 'Handlebar.ToolTip.Accion.Importar' 'TecsproFrontBundle'}}  {{/traducir}}
                                                    href="javascript:;" data-variable="variable{{simbolo}}" class="btnImportar" data-idvariable="{{id}}">
                                                        <span class="glyphicon glyphicon-open"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {{/each}}   
                                        </tbody> 
                                        {{/ifautoincrementarfalse}} 
                                    </table>
                                </div>  
                            </div>
                            <div class="row">
                                {{#each ecuacion}}
                                    <div class="col-md-6"> 
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            {{#traducirEntity translations 'nombre'}}  {{/traducirEntity}}
                                        </div>
                                        <div class="col-md-8"> 
                                            <ul class="list-group resultado{{id}}"  id="listarResultadoEcuacion{{id}}">
                                                {{#ifmayornumb resultado.length 0}}
                                                    {{#ifmayornumb resultado.length 1}}    
                                                        <li class="list-group-item">
                                                        <span class="badge">{{resultado_medio}}</span>
                                                        Resultado Medio
                                                        </li>
                                                        <li class="list-group-item">
                                                        <span class="badge">{{resultado_minimo}}</span>
                                                        Resultado Minimo
                                                        </li>
                                                        <li class="list-group-item">
                                                        <span class="badge">{{resultado_maximo}}</span>
                                                        Resultado Maximo
                                                        </li>
                                                    {{else}}   
                                                        <li class="list-group-item">
                                                            <span class="badge">{{#index_of resultado 0}}{{/index_of}} </span>
                                                            Resultado
                                                        </li>
                                                    {{/ifmayornumb}}
                                                {{else}}         
                                                    <li class="list-group-item">
                                                        <span class="badge">0</span>
                                                            Resultado
                                                    </li>
                                              {{/ifmayornumb}}
                                            </ul> 
                                        </div>
                                        <div class="col-md-4">
                                            <select id="listaUnidadEcuacion{{id}}" class="form-control txtUnidad" data-ecuacion="{{id}}">
                                            {{#each unidad_resultado}}
                                            {{#ifautoincrementartrue principal }}
                                            <option value="{{this.unidad.id}}" selected>{{this.unidad.simbolo}}</option>
                                            {{else}}   
                                            <option value="{{this.unidad.id}}">{{this.unidad.simbolo}}</option>    
                                            {{/ifautoincrementartrue}}
                                            {{/each}} 
                                            </select> 
                                        </div> 
                                    </div> 
                                {{/each}}
                            </div>
                        </div>   
                        <div class="box-footer">  
                            <button title={{#traducir 'Handlebar.ToolTip.Guardar' 'TecsproFrontBundle'}}  {{/traducir}}
                                data-formula="{{id}}" class="btn btn-lg btn-success btnGuardar">
                                {{#traducir 'Handlebar.Guardar' 'TecsproFrontBundle'}}  {{/traducir}}
                            </button>
                            <button tabindex="1" title={{#traducir 'Handlebar.ToolTip.Calcular' 'TecsproFrontBundle'}}  {{/traducir}}
                                data-formula="{{id}}" class="btn btn-lg btn-primary pull-right btnCalcular">
                                {{#traducir 'Handlebar.Calcular' 'TecsproFrontBundle'}}  {{/traducir}}
                            </button> 
                        </div>
                    </div>
                </div>   
        {% endverbatim %}
    </script>