{% block tecspro_frontbundle_proyecto_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    {{ form_errors(form) }}
    <div class="box-body">
        <fieldset>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6" title="{{ 'ToolTip.Proyecto.Nombre'|trans({}, 'TecsproFrontBundle') }}">
                    {{ form_row(form.nombre) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" title="{{ 'ToolTip.Proyecto.Fecha'|trans({}, 'TecsproFrontBundle') }}">
                    {{ form_row(form.fecha) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" 
                     title="{{ 'ToolTip.Proyecto.Comentario'|trans({}, 'TecsproFrontBundle') }}">
                    {{ form_row(form.comentario) }}
                    {{ form_row(form.formulasParameter) }}
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" title="{{ 'ToolTip.Proyecto.PartesInvolucradas.Guardar'|trans({}, 'TecsproFrontBundle') }}">
                    {% include 'TecsproFrontBundle:widget:addparteInvolucrada.html.twig' with { 'form' : form } %}
                </div>
            </div>
        </fieldset>
    </div>

    <div class="box-footer">
        <a href='javascript:;' class='btn btn-info add-parteInvolucrada-form' title="{{ 'ToolTip.Proyecto.PartesInvolucradas.Agregar'|trans({}, 'TecsproFrontBundle') }}">
            {{ 'Agregar'|trans({}, 'TecsproFrontBundle') }}
        </a>

        <div class="pull-right">
            {{ form_row(form.save) }}
        </div>    
    </div>

{% endblock %}