<ul class="sidebar-menu">
    {% for categoria in entities%}
        <li class="treeview"  data-id="{{categoria.id}}" data-tipo="categoria" >
            <a href="javascript:;" class="btnCategoria">
                <i class="fa fa-folder-o"></i> <span>{{categoria.nombre}}</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                {% for grupo in categoria.grupos%}
                    {%if grupo.formulas|length >1%}
                        <li>
                            <a href="javascript:;" class="btnListaEcuacion" data-id="{{grupo.id}}" data-tipo="grupo">
                                {#<i class="fa fa-circle-o"></i> #} {{grupo.orden}}. {{grupo.nombre}}
                            </a>
                        </li>
                    {%else%}
                        <li>
                            <a href="javascript:;" class="btnListaEcuacion" data-orden="{{grupo.orden}}" data-json="{{grupo.formulas[0].json}}" data-id="{{grupo.formulas[0].id}}" data-tipo="formula">
                                {#<i class="fa fa-circle-o"></i> #}  {{grupo.orden}}. {{grupo.formulas[0].nombre}}
                            </a>
                        </li>
                    {%endif%}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{#<ul>
    {%set gruporesg=0%}
    {% for categoria in entities%}
        <li data-id="{{categoria.id}}" data-tipo="categoria" >
            {{categoria.nombre}}
            {% for grupo in categoria.grupos%}
                {%if grupo.formulas|length >1%}
                    <ul>
                        <li data-id="{{grupo.id}}" data-tipo="grupo">
                            <a>
                                {{grupo.nombre}}
                            </a>
                        </li>
                    </ul>
                {% else %}
                    {% if gruporesg!=grupo.id %}
                        <ul>
                        {% endif %}
                        <li data-id="{{grupo.formulas[0].id}}" data-tipo="formula">
                            {{grupo.formulas[0].nombre}}
                        </li>
                        {% if gruporesg!=grupo.id %}
                        </ul>
                        {% set gruporesg=grupo.id %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </li>
</ul>#}
