{#<h3 class="control-sidebar-heading">Recent Activity</h3>#}
<style type="text/css">
    .activeEcuacion{
        background: none repeat scroll 0 0 #1e282c;
    }
</style>
<!-- Create the tabs -->
<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class="active" >
        <a href="#control-sidebar-home-tab" data-toggle="tab">
            <i class="fa fa-book" title="{{ 'ToolTip.Right-bar.Ecuacion'|trans({}, 'TecsproFrontBundle') }}">
            </i>
        </a>
    </li>
    <li>
        <a href="#control-sidebar-option-tab" data-toggle="tab">
            <i class="fa fa-gears" title="{{ 'ToolTip.Right-bar.Ecuaciones'|trans({}, 'TecsproFrontBundle') }}">

            </i>
        </a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content" >
    <!-- Home tab content -->
    <div class="tab-pane active" id="control-sidebar-home-tab" >
        <ul class="control-sidebar-menu"  id="panelGrupoSeleccionados">
            <li>
                <a href="javascript:;" class="btn btn-sm btn-danger btnBorrarEcuacionSeleccionada" 
                   title="{{ 'ToolTip.Boton.BorrarEcuacion'|trans({}, 'TecsproFrontBundle') }}">
                    {{ 'BorrarEcuacionSeleccionada'|trans({}, 'TecsproFrontBundle') }}
                </a>
            </li> 
            <li class=""> 
                <a href="javascript:;" class="btn btn-sm btn-warning btnResetearVariables"  title="{{ 'TooltipBotonBorrarGrupo'|trans({}, 'TecsproFrontBundle') }}">
                    {{ 'ResetearVariables'|trans({}, 'TecsproFrontBundle') }}
                </a>
            </li>  

            {% set nombreTraducidoLocale = ''  %}
            {% for key,entity in entities%}
                {%set nombreTraducido = entity.nombre|decode %}

                {%if nombreTraducido[app.session.get('_locale')] is defined%}
                    {% set nombreTraducidoLocale = nombreTraducido[app.session.get('_locale')].nombre  %}
                {%else%}
                    {% for trad in nombreTraducido%}
                        {%if (trad.locale==app.session.get('_locale'))%}
                            {% set nombreTraducidoLocale = trad.nombre  %}
                        {%endif%}
                    {%endfor%}
                {%endif%}

                <li>
                    <a href="javascript:;" class="btnEcuacionSeleccionada treeRight{{entity.key}}" data-key="{{entity.key}}">
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">{{entity.orden}}. {{nombreTraducidoLocale}}</h4>
                            <p>{{ 'Imprimir'|trans({}, 'TecsproFrontBundle') }} <i class="iconImprimirli{{entity.key}} fa fa-fw {%if entity.imprimir==true%}fa-check-square-o{%else%}fa-square-o{%endif%}"></i></p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul><!-- /.control-sidebar-menu -->
    </div><!-- /.tab-pane -->
    <div class="tab-pane" id="control-sidebar-option-tab">
        <ul class="control-sidebar-menu">
            <li>
                <a href="javascript:;" onClick="borrarTodaslasFormulasSession()" 
                   title="{{ 'ToolTip.Boton.BorrarEcuaciones'|trans({}, 'TecsproFrontBundle') }}">
                    <i class="menu-icon fa fa-trash-o bg-red"></i>
                    <div class="menu-info">
                        <h4 class="control-sidebar-subheading"> 
                            {{ 'BorrarEcuaciones'|trans({}, 'TecsproFrontBundle') }}
                        </h4>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;" id="btnSelectImprimir" 
                   title="{{ 'ToolTip.Boton.ImprimirEcuacion'|trans({}, 'TecsproFrontBundle') }}">
                    <i class="menu-icon fa fa-print bg-primary"></i>
                    <div class="menu-info">
                        <h4 class="control-sidebar-subheading"> {{ 'Imprimir'|trans({}, 'TecsproFrontBundle') }}</h4>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<script id="hbPanelGrupoSeleccionados" type="text/x-handlebars-template">
    {% verbatim %}
        <li> 
        <a href="javascript:;" class="btn btn-sm btn-danger btnBorrarEcuacionSeleccionada"  title="">
       {{#traducir 'BorrarEcuacionSeleccionada' 'TecsproFrontBundle'}}  {{/traducir}}
        </a>
        </li>
        <li class=""> 
        <a href="javascript:;" class="btn btn-sm btn-warning btnResetearVariables"  title="Resetear Variables">
       {{#traducir 'ResetearVariables' 'TecsproFrontBundle'}}  {{/traducir}}
        </a>
        </li>  
        {{#each this}}
        <li>
        <a href="javascript:;" class="btnEcuacionSeleccionada treeRight{{key}}" data-key="{{key}}">
        <div class="menu-info">
        <h4 class="control-sidebar-subheading">{{orden}}. {{#traducirEntity nombre 'nombre'}}  {{/traducirEntity}}</h4>
        <p>{{#traducir 'Imprimir' 'TecsproFrontBundle'}}  {{/traducir}} <i class="iconImprimirli{{key}} fa fa-fw {{#ifautoincrementartrue imprimir}}fa-check-square-o{{else}} fa-square-o{{/ifautoincrementartrue}}"></i></p>
        </div>
        </a>
        </li>
        {{/each}}  
    {% endverbatim %}
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $clickImprimir = 1;
        $("#btnSelectImprimir").click(function () {
            $("#modalImprimir").modal("show");
        });
        $(".btnImprimir").click(function () {
            if ($clickImprimir === 1) {
                $("#modalImprimir").modal("hide");
                $("#linkArchivoImpresion").hide();

                $arcString = "";
                //preaprar arc
                if ($(".chArcImprimir").prop("checked")) {
                    $cantVehiculos = $("#tecspro_arcbundle_arccampos_cantidadVehiculos").val();
                    $fraccionTiempoAnalizar = $("#tecspro_arcbundle_arccampos_fraccionDeTiempoAAnalizar").val();
                    $arrayVehiculos = [];
                    var vehiculoEntity = function vehiculo() {
                        this.nombre = "";
                        this.movimientoPrevioColision = "";
                        this.peaton = false;
                        this.velocidadInicial = "";
                        this.unidadVInicial = "";
                        this.velocidadImpacto = "";
                        this.unidadVImpacto = "";
                        this.tiempoEstimadoReaccion = "";
                        this.tiempoPreImpacto = "";
                        this.desacelearcion = "";
                    };
                    var vechiculoUno = new vehiculoEntity();
                    vechiculoUno.nombre = $(".txtNombreArc")[0].value;
                    vechiculoUno.movimientoPrevioColision = $(".txtMovimientoPrevioALaColisionArc")[0].value;
                    vechiculoUno.peaton = $(".txtPatonArc")[0].checked;
                    vechiculoUno.velocidadInicial = $(".txtVelocidadInicialArc")[0].value;
                    vechiculoUno.unidadVInicial = $(".txtUnidadVelocidadInicialArc")[0].value;
                    vechiculoUno.velocidadImpacto = $(".txtVelocidadImpactoArc")[0].value;
                    vechiculoUno.unidadVImpacto = $(".txtUnidadVelocidadImpactoArc")[0].value;
                    vechiculoUno.tiempoEstimadoReaccion = $(".txtTiempoReaccionArc")[0].value;
                    vechiculoUno.tiempoPreImpacto = $(".txtTiempoPreimpactoAConsiderarArc")[0].value;
                    vechiculoUno.desacelearcion = $(".txtDesaceleracionArc")[0].value;
                    $arrayVehiculos.push(vechiculoUno);
                    if ($cantVehiculos === "2") {
                        var vechiculoDos = new vehiculoEntity();
                        vechiculoDos.nombre = $(".txtNombreArc")[1].value;
                        vechiculoDos.movimientoPrevioColision = $(".txtMovimientoPrevioALaColisionArc")[1].value;
                        vechiculoDos.peaton = $(".txtPatonArc")[1].checked;
                        vechiculoDos.velocidadInicial = $(".txtVelocidadInicialArc")[1].value;
                        vechiculoDos.unidadVInicial = $(".txtUnidadVelocidadInicialArc")[1].value;
                        vechiculoDos.velocidadImpacto = $(".txtVelocidadImpactoArc")[1].value;
                        vechiculoDos.unidadVImpacto = $(".txtUnidadVelocidadImpactoArc")[1].value;
                        vechiculoDos.tiempoEstimadoReaccion = $(".txtTiempoReaccionArc")[1].value;
                        vechiculoDos.tiempoPreImpacto = $(".txtTiempoPreimpactoAConsiderarArc")[1].value;
                        vechiculoDos.desacelearcion = $(".txtDesaceleracionArc")[1].value;
                        $arrayVehiculos.push(vechiculoDos);
                    }

                    $tablaArc = [];
                    if (typeof (tabla) !== 'undefined') {
                        $tablaArc = tabla.slice(0, 10);
                    }
                    $arc = {vehiculos: $arrayVehiculos, tabla: $tablaArc, fraccionTiempoAnalizar: $fraccionTiempoAnalizar};

                    $arcString = JSON.stringify($arc);
                }
                $formImprimir = [];
                for ($i = 0; $i < $formSession.legth; $i++) {
                    if ($formSession[$i].imprimir)
                        $formImprimir.push($formSession[$i]);
                }
                $clickImprimir = 0;
                $type = $(this).data("type");

                $fomString = JSON.stringify($formSession);

                $.ajax({
                    // la URL para la petición
                    url: Routing.generate('imprimir_grupos'),
                    // la información a enviar
                    // (también es posible utilizar una cadena de datos)
                    data: {type: $type, formSession: $fomString, arc: $arcString},
                    // especifica si será una petición POST o GET
                    type: 'POST',
                    // el tipo de información que se espera de respuesta
                    dataType: 'json',
                    beforeSend: function (XMLHttpRequest)
                    {
                        $("#barraProgreso").show();
                    },
                    success: function (json) {
                        $("#modalImprimir").modal("hide");
                        $("#linkArchivoImpresion").attr("href", "{{asset('')}}" + "uploads/tmp/" + json.archivo);
                        $("#linkArchivoImpresion").show();
                        /*setTimeout(function () {
                         
                         window.open("{{asset('')}}" + "uploads/tmp/" + json.archivo);
                         }, 500);*/
                        $clickImprimir = 1;

                    },
                    // código a ejecutar si la petición falla;
                    // son pasados como argumentos a la función
                    // el objeto de la petición en crudo y código de estatus de la petición
                    error: function (xhr, status) {
                        alert('Disculpe, existió un problema');
                        $clickImprimir = 1;
                    },
                    complete: function () {
                        $("#barraProgreso").hide();
                    },
                });
            }
        });
        metodosPanelDerecho();
    });

    function metodosPanelDerecho() {
        $(".btnResetearVariables").click(function () {
            if ($("#panelVariable").html() !== "") {
                $(".soloNumeros").each(function (index) {
                    $(this).val(0);
                    $(this).change();
                });
                $(".txtVariables").each(function (index) {
                    $(this).val(0);
                    $(this).change();
                });

                for ($i = 0; $i < $form.ecuacion.length; $i++) {
                    $("#listarResultadoEcuacion" + $form.ecuacion[$i].id + " span").html(0);
                }
                for ($i = 0; $i < $form.variables.length; $i++) {
                    $form.variables[$i].autoincrementar = false;
                }
                guardarForm();
                variables = [];
                ecuaciones = [];
                expresiones = [];
            }
        });

        $(".btnBorrarEcuacionSeleccionada").click(function () {
            $buscarImportar = true;
            var mnj_error = "{{ 'Disculpe, existió un problema'|trans({}, 'TecsproFrontBundle') }}";

            var mnj_aleta = "{{ 'Alerta'|trans({}, 'TecsproFrontBundle') }}";

            $(this).addClass("disabled");
            $lst = $(this);
            $index = findInFormSessionIndex(key);
            $formSession.splice($index, 1);
            renderPanelDerecho($formSession);
            if ($("#panelGrupoSeleccionados li").length > 2) {
                $("#panelGrupoSeleccionados li a").last().click();
            } else {
                $("#panelVariable").html("");
            }
            $($lst).removeClass("disabled");
            //elimina de la session la formula
    {#$.ajax({
        // la URL para la petición
        url: '{{path('Formula_session_eliminar')}}',
        // la información a enviar
        // (también es posible utilizar una cadena de datos)
        data: {key: key},
        // especifica si será una petición POST o GET
        type: 'GET',
        // el tipo de información que se espera de respuesta
        dataType: 'json',
        // código a ejecutar si la petición es satisfactoria;
        // la respuesta es pasada como argumento a la función
        success: function (json) {
            $index = findInFormSessionIndex(key);
            $formSession.splice($index, 1);
            renderPanelDerecho($formSession);
            $($lst).removeClass("disabled");
            /*if (json.formula.length > 0) {
             //actualizo panel variable
             renderPanelVariable($(".activeEcuacion").data('key'), json.ultimaFormula["imagen"], json.ultimaFormula["referencia"], json.ultimaFormula["formula"], "hbPanelVariable")
             calcular($(".activeEcuacion").data('key'));
             //actualizo panel derecho
             renderPanelDerecho(json.formula);
             } else {*/
            /* var source = $("#hbPanelVariableDefault").html();
             var template = Handlebars.compile(source);
             var html = template();*/
            if ($("#panelGrupoSeleccionados li").length > 2) {
                $("#panelGrupoSeleccionados li a").last().click();
            } else {
                $("#panelVariable").html("");
            }


            //}
        },
        // código a ejecutar si la petición falla;
        // son pasados como argumentos a la función
        // el objeto de la petición en crudo y código de estatus de la petición
        error: function (xhr, status) {
            mostrarNotifiacion(mnj_aleta, mnj_error, "error");
            $($lst).removeClass("disabled");
        },
    });#}
            });
            $(".btnEcuacionSeleccionada").click(function () {
                //guardarVariablesEnSession();
                $buscarImportar = true;
                var mnj_error = "{{ 'Disculpe, existió un problema'|trans({}, 'TecsproFrontBundle') }}";

                var mnj_aleta = "{{ 'Alerta'|trans({}, 'TecsproFrontBundle') }}";
                $_formSeleccionado = findInFormSession($(this).data('key'));

                Translator.locale = '{{app.session.get('_locale') }}';
                if (typeof $_formSeleccionado.formula === "string") {
                    $formSeleccionado = JSON.parse($_formSeleccionado.formula);
                } else {
                    $formSeleccionado = $_formSeleccionado.formula;
                }
                renderPanelVariable(key, '', '', $formSeleccionado, "hbPanelVariable");

                $("#txtUnidadResultado").val($form.ecuacion[0].id).trigger("change");
                $(".activeEcuacion").removeClass("activeEcuacion");
                $(".iconEcuacion").remove();
                $(this).html("<i class='menu-icon iconEcuacion fa fa-check bg-primary'></i>" + $(this).html());
                $(this).addClass("activeEcuacion");
                metodosGenerales();
                //calcular();
                //mostrarTotales();
                $("#formulas-tab").click();

                if ($form.autoincremental) {

                    contadorVariables = $form.variables.length;
                }
            });
        }

        function borrarTodaslasFormulasSession() {
            $buscarImportar = true;
            var mnj_error = "{{ 'Disculpe, existió un problema'|trans({}, 'TecsproFrontBundle') }}";

            var mnj_aleta = "{{ 'Alerta'|trans({}, 'TecsproFrontBundle') }}";

            $.ajax({
                // la URL para la petición
                url: '{{path('Formula_session_eliminar_all')}}',
                // especifica si será una petición POST o GET
                type: 'GET',
                // el tipo de información que se espera de respuesta
                dataType: 'json',
                // código a ejecutar si la petición es satisfactoria;
                // la respuesta es pasada como argumento a la función
                success: function (json) {
                    /*var source = $("#hbPanelVariableDefault").html();
                     var template = Handlebars.compile(source);
                     var html = template();*/
                    if (json.resultado === true) {
                        $formSession = [];
                        $("#panelVariable").html("");
                        renderPanelDerecho(null);
                    }
                },
                // código a ejecutar si la petición falla;
                // son pasados como argumentos a la función
                // el objeto de la petición en crudo y código de estatus de la petición
                error: function (xhr, status) {
                    mostrarNotifiacion(mnj_aleta, mnj_error, "error");
                },
            });
        }
</script>
