<!-- Modal -->
<div class="modal fade" id="modalSelccionarModulos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    {{ 'Seleccionar Módulos'|trans({}, 'TecsproFrontBundle') }}
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="list-group">
                            {% for key,entity in entities %}
                                {% if app.session.get('moduloSeleccionado') is defined %}
                                    <a href="javascript:;" data-id="{{entity.id}}" class="list-group-item btnSeleccionarModulo {%if app.session.get('moduloSeleccionado') == entity.id %}active{%endif%}">
                                        {{entity.nombre}}
                                    </a>
                                {% else %}
                                    <a href="javascript:;" data-id="{{entity.id}}"  
                                        class="list-group-item btnSeleccionarModulo">
                                        {{entity.nombre}}
                                    </a>
                                {%endif%}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{ 'Cerrar'|trans({}, 'TecsproFrontBundle') }}
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#btnModalSeleccionarModulo").click(function () {
        $("#modalSelccionarModulos").modal('show');
    });
    $(".btnSeleccionarModulo").click(function () {

        var mnj_error = "{{ 'Disculpe, existió un problema'|trans({}, 'TecsproFrontBundle') }}";

        var mnj_aleta = "{{ 'Alerta'|trans({}, 'TecsproFrontBundle') }}";
        
        var resg = $(this);
        $.ajax({
            type: "POST",
            url: "{{ path('modulo_setsession_modulo') }}",
            data: {modulo: $(this).data('id')},
            success: function (array) {
                $(".btnSeleccionarModulo").removeClass('active');
                resg.addClass('active');
                $("#modalSelccionarModulos").modal('hide');
                window.location.reload(true);
            },
            error: function (data) {
                mostrarNotifiacion(mnj_aleta, mnj_error, "error");

            }
        });
    });
</script>