{% form_theme edit_form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-primary center-block">
            <div class="panel-body">
                {% block form %}
                    {% form_theme edit_form 'TecsproFrontBundle:Form:form-proyecto.html.twig' %}
                    {{ form(edit_form) }}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
<script src="{{ asset('bundles/tecsprofront/js/addForm.js') }}"></script>
<script src="{{ asset('bundles/tecsprofront/js/parteInvolucrada.js') }}"></script>
<script type="text/javascript">
    $("#tecspro_frontbundle_proyecto_save").click(function (e) {
        e.preventDefault();

        var mnj_error = "{{ 'Disculpe, existió un problema'|trans({}, 'TecsproFrontBundle') }}";

        var mnj_aleta = "{{ 'Alerta'|trans({}, 'TecsproFrontBundle') }}";

        var mnj_success = "{{ 'Proyecto Guardado'|trans({}, 'TecsproFrontBundle') }}";

        $.ajax({
            type: 'POST',
            url: $("#form").attr('action'),
            data: $("#form").serialize(),
            success: function (data) {
                mostrarNotifiacion(mnj_aleta, mnj_success, "success");
                $(this).removeAttr('disabled');
            },
            error: function (data) {
                mostrarNotifiacion(mnj_aleta, mnj_error, "error");
                $(this).removeAttr('disabled');
            }
        });
    });
</script>