{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/js/datatable/css/jquery.dataTables.min.css') }}">
    <style type="text/css">
        .trash { color:rgb(209, 91, 71); }
        .flag { color:rgb(248, 148, 6); }
        .panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
        .fa-fw {width: 2em;}
    </style>
{% endblock %}
{% block page %}
    <div class="row">
        {#<div class="col-lg-2 col-md-2 col-sm-6">
            {% if filterForm.vars.errors|length > 0 %}
            <div class="alert alert-block alert-danger fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>
            {% endif %}
            &nbsp;
        </div>#}
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="filters-right">
                {#<a class="btn btn-success" href="{{ path(config.new) }}">
                    {{ 'views.index.createnew'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                </a>#}
                <!-- Single button -->
                {# <div class="btn-group">
                     <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                         {{ 'views.index.export'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }} <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu" role="menu">
                         <li><a href="{{ path(config.export, { 'format': "xls" }) }}">EXCEL</a></li>
                         <li><a href="{{ path(config.export, { 'format': "csv" }) }}">CSV</a></li>
                         <li><a href="{{ path(config.export, { 'format': "json" }) }}">JSON</a></li>
                     </ul>
                 </div>#}
                {#<a id="reset_index_filters" class="btn btn-danger">
                    {{ 'views.index.reset'|trans({}, 'MWSimpleAdminCrudBundle') }}
                </a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                    {{ 'views.index.filters'|trans({}, 'MWSimpleAdminCrudBundle') }}
                    <span class="caret"></span>
                </a>#}
            </div>
        </div>
        {#<div class="col-lg-12 col-md-12 col-sm-12">
            <div id="filters" class="well collapse">
                <div class="form-group">
                    {{ form_start(filterForm) }}
                    {{ form_end(filterForm) }}
                </div>
            </div>
        </div>#}
    </div>

    <div class="box box-primary">
        <div class="box-heading">
            <h4>
                {{ 'views.index.list'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                {#<div class="pull-right action-buttons">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-download-alt" style="margin-right: 0px;"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href="{{ path(config.export, { 'format': "xls" }) }}">EXCEL</a></li>
                            <li><a href="{{ path(config.export, { 'format': "csv" }) }}">CSV</a></li>
                            <li><a href="{{ path(config.export, { 'format': "json" }) }}">JSON</a></li>
                        </ul>
                    </div>
                </div>#}
            </h4>
        </div>
        <div class="box-body">
            <table id="tablaPrincipal" class="table table-striped">
                <thead>
                    <tr>

                        {% for key, field in config.fieldsindex %}
                            <th data-field="{{key}}" data-sortable="true">
                                {{ field.label|trans({}, 'TecsproFrontBundle') }}
                            </th>
                        {% endfor %}

                        <th>
                            {{ 'views.index.actions'|trans({}, 'MWSimpleAdminCrudBundle') }}
                        </th>
                    </tr>
                </thead>
                {#<tbody>
                    {% for entity in entities %}
                        <tr>
                            {% for key, field in config.fieldsindex %}
                                <td>
                                    {% if field.type in ['datetime', 'datetimetz', 'date', 'time'] %}
                                        {{ attribute(entity, field.name)|date(field.date) }}
                                    {% elseif field.type in ['boolean'] %}
                                        {{ isActive(attribute(entity, field.name)) }}
                                    {% elseif field.type in ['ONE_TO_MANY', 'MANY_TO_MANY'] %}
                                        {% set many_entity = attribute(entity, field.name) %}
                                        {% for key, field in many_entity %}
                                            {{ field }} |
                                        {% endfor %}
                                    {% else %}
                                        {{ attribute(entity, field.name) }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td>
                                {% block actions %}
                                    <a class="glyphicon glyphicon-search tooltips"  href="{{ path(config.show, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                                    <a class="glyphicon glyphicon-edit tooltips"  href="{{ path(config.edit, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                                {% endblock %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>#}
            </table>
            <div id="progresoLoadProyecto" class="overlay" style="display: none;">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
        <div class="box-footer">
            <button id="btnEliminarProyectosSeleccionados" class="btn btn-primary" type="submit">{{ 'EliminarProyectos'|trans({},'TecsproFrontBundle') }}</button>
        </div>
    </div>
{% endblock %}

{% block javascript %}

    <script src="{{ asset('bundles/mwsimpleadmincrud/js/datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        var table;
        $("#reset_index_filters").click(function () {
            $(".reset_submit_filters").trigger("click");
        });
        $(document).ready(function () {

            var leguange = '';

            if ("{{ app.session.get('_locale') }}" == 'pt') {

                leguange = '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json';
            } else if ("{{ app.session.get('_locale') }}" == 'es') {

                leguange = '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json';
            }
            $columnaNombre = 2;
            table = $('#tablaPrincipal').dataTable({
                "language": {
                    "url": leguange,
                },
                "processing": true,
                "serverSide": true,
                "order": [[0, "desc"]],
                "ajax": {
                    "url": "{{ path(config.getTable) }}",
                },
                "aoColumnDefs": [
                    {
                        "mRender": function (data, type, row) {
                            var acciones = "";
                            var array = [
                                // '<a  href="' + Routing.generate("proyecto_select", {proyecto: row[0]}) + '" title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}" data-toggle="tooltip" data-placement="top" ><span class="glyphicon glyphicon-ok"></span></a>',
                                '<a  class="btnEliminarProyecto" href="' + Routing.generate("proyecto_delete_byajax", {id: row[0]}) + '" title="{{ 'EliminarProyecto'|trans({},'TecsproFrontBundle') }}" data-toggle="tooltip" data-placement="top" ><span class="glyphicon glyphicon-trash"></span></a>&nbsp;&nbsp;',
                                '<input data-id="' + row[0] + '" class="chkProyectos" type="checkbox">',
                            ];
                            acciones = array.join("");
                            return acciones;
                        },
                        "aTargets": [{{ config.fieldsindex|length }}]
                    },
                    {
                        "mRender": function (data, type, row) {
                            var acciones = "";
                            var array = [
                                '<a  href="' + Routing.generate("proyecto_select", {proyecto: row[0]}) + '" title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}" data-toggle="tooltip" data-placement="top" >' + data + '</a>',
                            ];
                            acciones = array.join("");
                            return acciones;
                        },
                        "aTargets": [$columnaNombre]
                    },
                    {
                        "targets": [0],
                        "visible": false
                    },
                ],
                "fnDrawCallback": function (oSettings) {
                    $(".btnEliminarProyecto").click(function () {
                        if ($(this).attr('disabled') === 'disabled') {
                            return false;
                        }
                        $(this).attr("disabled", true);
                    });
                }
            });
            $("#btnEliminarProyectosSeleccionados").click(function () {
                var mnj_confirmar = "{{ 'confirmarEliminar'|trans({}, 'TecsproFrontBundle') }}";
                var mnj_aleta = "{{ 'Alerta'|trans({}, 'TecsproFrontBundle') }}";
                confirmAlertSiNo(mnj_aleta, mnj_confirmar, 'eliminarProyectos', '');
            });

        });
        function eliminarProyectos() {
            $idProyecto = [];
            $(".chkProyectos").each(function (index) {
                if ($(this).prop("checked")) {
                    $idProyecto.push($(this).data("id"));
                }
            });
            if ($idProyecto.length > 0) {
                $("#btnEliminarProyectosSeleccionados").attr('disabled', true);
                $("#progresoLoadProyecto").show();
                $.ajax({
                    // la URL para la petición
                    url: '{{path('proyecto_seleccionados_delete_byajax')}}',
                    // la información a enviar
                    // (también es posible utilizar una cadena de datos)
                    data: {idProyecto: $idProyecto},
                    // especifica si será una petición POST o GET
                    type: 'GET',
                    // el tipo de información que se espera de respuesta
                    dataType: 'json',
                    // código a ejecutar si la petición es satisfactoria;
                    // la respuesta es pasada como argumento a la función
                    success: function (json) {
                        location.reload(true);
                    },
                    // código a ejecutar si la petición falla;
                    // son pasados como argumentos a la función
                    // el objeto de la petición en crudo y código de estatus de la petición
                    error: function (xhr, status) {
                        $("#progresoLoadProyecto").removeAttr("disabled");
                        $("#progresoLoadProyecto").hide();
                    },
                });
            }


        }
    </script>
{% endblock %}