{% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-info">

            {% block form %}
                {% form_theme form 'TecsproFrontBundle:Form:form-proyecto.html.twig' %}
                {{ form(form) }}
            {% endblock %}
        </div>
    </div>
</div>
<script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
<script src="{{ asset('bundles/tecsprofront/js/addForm.js') }}"></script>
<script src="{{ asset('bundles/tecsprofront/js/parteInvolucrada.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tecspro_frontbundle_proyecto_save").click(function (e) {
            e.preventDefault;
            $("#tecspro_arcbundle_arccampos_save").click();
            return false;
        });
    });
</script>