{% set proyecto  = app.session.get('proyecto') is defined ?
    app.session.get('proyecto') : "" %}
{% set proyectoNombre  = app.session.get('proyectoNombre') is defined ?
    app.session.get('proyectoNombre') : "" %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>  Ractt {{ 'Reconstructor Analítico'|trans({}, 'TecsproFrontBundle') }}</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.5 -->
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap-checkbox.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-fileupload/bootstrap-fileupload.min.css') }}" rel="stylesheet" id="bootstrap-style">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/select2/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrapValidator.min.css') }}">
        <link href="{{ asset('bundles/mwsimpleadmincrud/datetime/css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/modulo/css/doctos.css') }}" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('bundles/tecsprofront/template/css/AdminLTE.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/tecsprofront/template/css/skins/_all-skins.min.css') }}">

        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        {#<link rel="stylesheet" href="{{ asset('bundles/tecsprofront/template/css/skins/_all-skins.min.css') }}">
        <!-- iCheck -->
        <link rel="stylesheet" href="plugins/iCheck/flat/blue.css">
        <!-- Morris chart -->
        <link rel="stylesheet" href="plugins/morris/morris.css">
        <!-- jvectormap -->
        <link rel="stylesheet" href="plugins/jvectormap/jquery-jvectormap-1.2.2.css">
        <!-- Date Picker -->
        <link rel="stylesheet" href="plugins/datepicker/datepicker3.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker-bs3.css">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">#}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link href="{{ asset('bundles/modulo/css/doctos.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/tecsprofront/jstree/themes/proton/style.min.css') }}" />
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap.min.js') }}"></script>

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/bootstrap-datetimepicker.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/locales/bootstrap-datetimepicker.pt.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/select2/select2.min.js') }}"></script>
        <link href="{{ asset('bundles/tecsprofront/pnotify/css/pnotify.custom.min.css') }}" media="all" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{{ asset('bundles/tecsprofront/pnotify/js/pnotify.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/tecsprofront/js/notifiaciones.js') }}"></script>
        <style>
            #jstree_demo_div a {
                white-space: normal !important;
                height: auto;
                width: 200px;
                max-width: 300px;
            }
        </style>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="{{path('inicio_plantilla')}}" class="logo" tabindex="-1" >
                    <span class="logo-mini">Ractt</span>
                    <!-- logo for regular state and mobile devices -->
                    <img src="{{ asset('bundles/tecsprofront/img/ractt_logo_layout.png') }}" style="max-height: 100%; max-width: 100%; padding-bottom: 5px;">
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Desplegar navegación</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <button type="button" data-toggle="control-sidebar" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-ex1-collapse">
                            <i class="fa fa-folder-open-o"></i>
                        </button>

                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{{ path('inicio_plantilla') }}" 
                                   title="{{ 'ToolTip.bar.PaginaInicio'|trans({}, 'TecsproFrontBundle') }}">
                                    {{ 'Inicio'|trans({}, 'TecsproFrontBundle') }}                            
                                </a>                            
                            </li>
                            <li>
                                <a id="btnNuevoProyecto" href="javascript:;" 
                                   title="{{ 'ToolTip.bar.CrearProyecto'|trans({}, 'TecsproFrontBundle') }}">
                                    {{ 'Nuevo Proyecto'|trans({}, 'TecsproFrontBundle') }}
                                </a>
                            </li>
                            <li>
                                <a id="btnModalSeleccionarModulo" href="javascript:;" 
                                   title="{{ 'ToolTip.bar.SeleccionModulo'|trans({}, 'TecsproFrontBundle') }}">
                                    {{ 'Seleccionar Modulos'|trans({}, 'TecsproFrontBundle') }}
                                </a>
                            </li>
                            <li><a href="{{ path('contactenos_plantilla') }}" 
                                   title="{{ 'ToolTip.bar.contacto'|trans({}, 'TecsproFrontBundle') }}">
                                    {#<span class="glyphicon glyphicon-envelope"></span>#}
                                    {{ 'Contactenos'|trans({}, 'TecsproFrontBundle') }}
                                </a>
                            </li>
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="hidden-xs">  {{  app.user.username }} </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <!-- Menu Body -->
                                    <li class="user-body">
                                        <div class="col-xs-12 text-center">
                                            <p>
                                                {{ 'Modulo Seleccionado'|trans({}, 'TecsproFrontBundle') }}: 
                                                {{ app.session.get('moduloNombreSeleccionado')}}
                                            </p>
                                        </div>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default btn-flat">   
                                                {{ 'Perfil'|trans({}, 'TecsproFrontBundle') }}
                                            </a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">   
                                                {{ 'UserSalir'|trans({}, 'TecsproFrontBundle') }}
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <!-- Control Sidebar Toggle Button -->
                            <li id="panelToogleDerecho" >
                                <a href="#" id="activarPanelDerecho" data-toggle="control-sidebar">
                                    <i class="fa fa-folder-open-o"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    {% block ecuaciones %}
                        <!-- search form -->
                        <form action="#" method="get" class="sidebar-form">
                            {#<div class="input-group">
                                <input id="plugins4_q" type="text" name="q" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                                </span>
                            </div>#}
                        </form>
                        <!-- /.search form -->
                        <!-- sidebar menu: : style can be found in sidebar.less -->

                        {{ render(controller('TecsproFrontBundle:Grupo:listaGrupos')) }}

                    {% endblock %}
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper" style="min-height: 1036px;">
                {% if proyectoNombre!="" %}
                    <section class="content-header">
                        <div class="col-lg-9 col-md-9 col-sm-9" style="padding-left:0px !important;">
                            <div class="col-lg-9 col-md-9 col-sm-9" style="padding-left:0px !important;">
                                <p>
                                    {{ 'Proyecto'|trans({}, 'MWSimpleAdminCrudBundle') }}:&nbsp;&nbsp;
                                    <strong>{{proyectoNombre}}</strong>
                                </p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <a id="linkArchivoImpresion" href="javascript:;" class="btn btn-block btn-warning btn-xs" style="display:none;">
                                    <i class="fa fa- fa-file-o"></i> {{ 'NuevoArchivo'|trans({}, 'TecsproFrontBundle') }}
                                </a>
                                <div id="barraProgreso" class="progress progress-sm active" style="display:none;">
                                    <div id="progreso" class="progress-bar progress-bar-success progress-bar-striped" style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {%else%}
                    <section class="content-header">
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-9" style="padding-left:0px !important;">
                                <div class="col-lg-9 col-md-9 col-sm-9" style="padding-left:0px !important;">

                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <a id="linkArchivoImpresion" target="_blank" href="javascript:;" class="btn btn-block btn-warning btn-xs" style="display:none;">
                                        <i class="fa fa- fa-file-o"></i> {{ 'NuevoArchivo'|trans({}, 'TecsproFrontBundle') }}
                                    </a>
                                    <div id="barraProgreso" class="progress progress-sm active" style="display:none;" >
                                        <div id="progreso" class="progress-bar progress-bar-success progress-bar-striped" style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %}
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-9">
                            {% if (app.session.get('moduloSeleccionado') is not defined)or(app.session.get('moduloSeleccionado') is null) %}
                                <div class="alert alert-warning" role="alert">
                                    {{ 'SeleccioneModulo'|trans({}, 'TecsproFrontBundle') }}
                                </div>
                            {% endif %}
                            {% for type, flashMessages in app.session.flashbag.all() %}
                                {% for flashMessage in flashMessages %}
                                    <div id="mje" class="alert alert-{{ type }}">
                                        {{ flashMessage|trans({}, 'MWSimpleAdminCrudBundle') }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% block page %}

                            {% endblock %}
                        </div>
                    </div>
                </section><!-- /.content -->
            </div><!-- /.content-wrapper -->
            {#<footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 2.3.0
                </div>
                <strong>Copyright &copy; 2015-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
            </footer>#}

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                {% block panelDerecho  %}

                {% endblock panelDerecho  %}
            </aside><!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
            immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div><!-- ./wrapper -->

        <!-- jQuery 2.1.4 -->
        {# <script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>#}
        <!-- jQuery UI 1.11.4 -->
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button);
            var AdminLTEOptions = {
                //Bootstrap.js tooltip
                enableBSToppltip: false
            };
        </script>


        {{ render(controller('TecsproFrontBundle:Modulo:seleccionarModulos')) }}
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-checkbox.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-fileupload/bootstrap-fileupload.min.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/bootstrapValidator.min.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/language/es_ES.js') }}"></script>
        <script src="{{ asset('bundles/tecsprofront/jstree/jstree.min.js') }}"></script>
        <script src="{{ asset('bundles/tecsprofront/js/handlebars-v4.0.5.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
        <script src="{{ asset('bundles/tecsprofront/template/js/app.min.js') }}"></script>
        <script src="{{ asset('bundles/tecsprofront/template/js/pages/dashboard.js') }}"></script>

        <script src="{{ asset('bundles/tecsprofront/js/math.min.js') }}"></script>

        {% block javascript %}
            {% set proyecto  = app.session.get('proyecto') is defined ?
    app.session.get('proyecto') : "" %}

            <script type="text/javascript">


            function ocultarMensaje() {
                if ($("#mje").hasClass("alert-danger") === false)
                    $("#mje").toggle("slow");
            }
            $("#btnNuevoProyecto, #btnClose").click(function () {
                $calculosSincronizado = true;
                var mnj_confirmar = "";
                var mnj_aleta = "";
                for ($s = 0; $s < $formSession.length; $s++) {
                    if ($calculosSincronizado === true) {
                        if ($formSession[$s]["formula"]["sincronizado"] == false) {
                            $calculosSincronizado = false;
                        }
                    }
                }
                if ($calculosSincronizado) {
                    mnj_confirmar = "{{ 'ConfirmarSinGuardar'|trans({}, 'TecsproFrontBundle') }}";
                    mnj_aleta = "{{ 'Alerta'|trans({}, 'TecsproFrontBundle') }}";
                    confirmAlertSiNo(mnj_aleta, mnj_confirmar, 'salirSinGuardar', '');

                } else {
                    mnj_confirmar = "{{ 'ConfirmarConGuardar'|trans({}, 'TecsproFrontBundle') }}";
                    mnj_aleta = "{{ 'Alerta'|trans({}, 'TecsproFrontBundle') }}";
                    confirmAlertSiNoCancelar(mnj_aleta, mnj_confirmar, 'salirConGuardar', 'salirSinGuardar', '');

                }


            });

            function salirSinGuardar() {
                var mnj_error = "{{ 'Disculpe, existió un problema'|trans({}, 'TecsproFrontBundle') }}";
                var mnj_aleta = "{{ 'Alerta'|trans({}, 'TecsproFrontBundle') }}";

                location.href = "{{ path('proyecto_nuevo') }}";

            }
            function salirConGuardar() {
                $("#tecspro_arcbundle_arccampos_cerraProyecto").val(true);
                $("#tecspro_arcbundle_arccampos_save").click();
            }
            </script>
        {% endblock %}
    </body>
</html>