{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}         
    <form method="post" action="{{ path("fos_user_security_check") }}" role="login">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group has-feedback">
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Usuario"
                   class="form-control" />

            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" id="password" name="_password" required="required"  placeholder="Password"
                   class="form-control"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" checked /> Recordar
                    </label>
                </div>
            </div><!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" name="_submit" class="btn btn-primary btn-block btn-flat"
                        value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">Entrar</button>
            </div><!-- /.col -->

        </div>
    </form>


    <a href="{{path('fos_user_resetting_request')}}">Olvidaste la clave?</a><br>
    <a href="{{path('User_resetting_request_session')}}">Resetear Sessiones</a><br><br> 
    <div class="text-center">
        <a href="http://www.ractt.com/?page_id=179" target="_blank" class="btn btn-default">Acceso área de Capacitación</a><br>
    </div>
    {#<a href="register.html" class="text-center">Register a new membership</a>#}
{% endblock fos_user_content %}