{% extends 'TecsproFrontBundle::layout.html.twig' %}
{% block panelDerecho  %}

{% endblock panelDerecho  %}
{% block ecuaciones %}
    {% include 'TecsproFrontBundle:Default:menu-izquierdo.html.twig'  %} 
{% endblock %}
{% block page %}
    {% block fos_user_content %}

        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock page %}