<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">

    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}

    {{ form_widget(form) }} 

    <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />


</form>