{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}
{% block panelDerecho  %}

{% endblock panelDerecho  %}
{% block ecuaciones %}
   
{% endblock %}
{% block page %}
    {% block fos_user_content %}

        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock page %}