{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block page  %}
    {% block fos_user_content %}
        {% trans_default_domain 'FOSUserBundle' %}
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock page %}
