<div class="fos_user_user_show">
	<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-primary center-block">
                <div class="panel-body"> 
                	<div class='row'>
                		<div class="col-lg-12 col-md-12 col-sm-12">
                    		{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}
                    	</div>
                    </div>     
                    </br>                  	
                	<div class='row'>
                		<div class="col-lg-12 col-md-12 col-sm-12">
                    		{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}
                    	</div>                    	
              		</div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
