{% extends "TecsproFrontBundle::layout.html.twig" %}
{% block body %}
    {% block ecuaciones %}
        {% include 'TecsproFrontBundle:Default:menu-izquierdo.html.twig'  %}
    {% endblock %}
    {% block page %}
        {% block fos_user_content %}
            {% trans_default_domain 'FOSUserBundle' %}
            {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        {% endblock fos_user_content %}
    {% endblock %}
{% endblock %}
