<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }}
	  method="POST" class="fos_user_resetting_reset">
    {{ form_widget(form) }}
	
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>