{% block text_widget %}
    <div class="form-group">
        {% set type = type|default('text') %}
        <div class="col-lg-4">
            <input class="form-control" data-mask="99.999.999" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        </div>
    </div>
{% endblock %}
