{% block tecspro_userbundle_user_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    <div class='row'>
        <div class="col-lg-6 col-md-6">
            {{ form_row(form.username) }} 
            {{ form_row(form.email) }}
            <div class="col-lg-6 col-lg-6">
                {{ form_row(form.fecha_inicio) }}
            </div>
            <div class="col-lg-6 col-lg-6">
                {{ form_row(form.plan_de_cuenta) }}
            </div>

        </div>
        <div class="col-lg-6 col-md-6">
            {{ form_row(form.password) }}
            <div class="col-lg-6 col-lg-6">
                {{ form_row(form.cantidadSessiones) }}
            </div>
            <div class="col-lg-6 col-lg-6">
                {{ form_row(form.enabled) }}
            </div>
        </div>
    </div>      
    <div class='row'>
        <div class="col-lg-6 col-md-6">
            {{ form_row(form.user_roles) }}
        </div>

        <div class="col-lg-6 col-md-6">
            {{ form_row(form.modulos) }}
        </div>
    </div>

    <div class="row">
        {% include 'UserBundle:Form:form_fields_telefono.html.twig' with { 'form' : form } %}
    </div>

    </br>

    <div class="row">
        {% include 'UserBundle:Form:form_fields_domicilio.html.twig' with { 'form' : form } %}
    </div>
    <br>
    <div class="row">
        {{ form_row(form.save) }}
        {{ form_row(form.saveAndAdd) }}
    </div>

{% endblock %}
