{% macro prototipoDomicilio(entity) %}
    <div class='rowremove'>
        <div class='form-group'>
            <div class="row">
                {{ form_row(entity.localidad) }}
            </div>  
            <div class="row">
                {{ form_row(entity.provincia) }}
            </div>  
            <div class="row">
                {{ form_row(entity.pais) }}
            </div>                 

            <div class="row">
                <div class='col-lg-1 col-md-1 col-sm-1'>
                    <a class='btnRemoveDomicilio btn btn-mini btn-danger' href='#'>
                        <i class='glyphicon glyphicon-trash'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

<div class="col-lg-12 col-md-12 col-sm-12">
    <legend>Domicilio</legend>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
    <div data-prototype="{{ _self.prototipoDomicilio(form.domicilios.vars.prototype)|e }}" class="domicilio">
        {% for domicilio in form.domicilios %}
            {{ _self.prototipoDomicilio(domicilio) }}
        {% endfor %}
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <div class="ribon_dom"><button type="button" class='add_domicilio_link btn btn-info'> + Agregar otro Domicilio</button></div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/user/js/domicilio.js') }}"></script>
