{% macro parteInvolucrada(form) %}
    <div class="row rowremove">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-10 col-md-10 col-sm-10">     
                {{ form_widget(form.nombre) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">  
                <a class='delete-form btn btn-mini btn-danger' href='javascript:;'><i class='glyphicon glyphicon-trash'></i></a>
            </div>
        </div>
    </div>
{% endmacro %}
<h4 title="{{ 'ToolTip.Proyecto.PartesInvolucradas.Listado'|trans({}, 'TecsproFrontBundle') }}">
    {{ 'Partes Involucradas'|trans({}, 'TecsproFrontBundle') }}
</h4>
<div data-prototype="{{ _self.parteInvolucrada(form.partesInvolucradas.vars.prototype, false)|e }}" class="partesInvolucradas">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-10 col-md-10 col-sm-10">  

                <label title="{{ 'ToolTip.Proyecto.PartesInvolucradas.Nombre'|trans({}, 'TecsproFrontBundle') }}">
                    {{ 'Nombre'|trans({}, 'TecsproFrontBundle') }}                    
                </label>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">  
                <label>
                    {{ 'Handlebar.Accion'|trans({}, 'TecsproFrontBundle') }}
                </label>
            </div>
        </div>
    </div>
                
    {% for parteInvolucrada in form.partesInvolucradas %}
        {{ _self.parteInvolucrada(parteInvolucrada) }}
    {% endfor %}
</div>
