{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}

{% block form %}    
    {% form_theme edit_form 'ModuloBundle:Form:form-grupo.html.twig' %}
    {{ form(edit_form) }}

{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/modulo/js/addForm.js') }}"></script>
    <script src="{{ asset('bundles/modulo/js/addFormEmbed.js') }}"></script>
    <script src="{{ asset('bundles/modulo/js/addFormEmbedSegundo.js') }}"></script>
    {#<script src="{{ asset('bundles/tecsprofront/js/math.min.js') }}"></script>#}
    <script type="text/javascript">
        $contador = {{entity.formulas|length}};
                $(".txtCategoria").change(function () {
            buscarUltimoOrden($(this).val());
        });
        function buscarUltimoOrden($categoria) {
            $.ajax({
                type: "GET",
                url: "{{ path('Grupo_obtenerultimoorden_categoria') }}",
                data: {categoria: $categoria},
                success: function (array) {
                    $(".txtOrden").val(array);

                },
                error: function (data) {
                    alert("error");

                }
            });
        }
    </script>
{% endblock %}