{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}

{% block form %}  
    {% form_theme form 'ModuloBundle:Form:form-grupo.html.twig' %}
    {{ form(form) }}



{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/modulo/js/addForm.js') }}"></script>
    <script src="{{ asset('bundles/modulo/js/addFormEmbed.js') }}"></script>
    <script src="{{ asset('bundles/modulo/js/addFormEmbedSegundo.js') }}"></script>
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
    <script type="text/javascript">
        $contador = 0;
        $(document).ready(function () {
            buscarUltimoOrden($(".txtCategoria").val());
        });

        $(".txtCategoria").change(function () {
            buscarUltimoOrden($(this).val());
        });
        function buscarUltimoOrden($categoria) {
            $.ajax({
                type: "GET",
                url: "{{ path('Grupo_obtenerultimoorden_categoria') }}",
                data: {categoria: $categoria},
                success: function (array) {
                    $(".txtOrden").val(array);

                },
                error: function (data) {
                    alert("error");

                }
            });
        }
    </script>
    {#<script src="{{ asset('bundles/tecsprofront/js/math.min.js') }}"></script>#}
{% endblock %}