{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('bundles/modulo/lightbox2/css/lightbox.min.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
    <div class="panel panel-primary center-block">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <fieldset>
                    <div class="row">
                        <div class="col-lg-6" col-md-6 col-sm-6>
                            <ul class="nav nav-tabs" role="tablist">
                                {% for key,traduccion in entity.translations %}
                                    <!-- Nav tabs -->
                                    <li role="presentation" class="{%if key=="es"%}active{%endif%}">
                                        <a href="#grupotraducion{{key}}" aria-controls="home" role="tab" data-toggle="tab">
                                            {{traduccion.locale}}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                {% for key,traduccion in entity.translations %}
                                    <div role="tabpanel" class="tab-pane {%if key=="es"%}active{%endif%}" 
                                         id="grupotraducion{{key}}">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <label class="control-label">
                                                    {{ 'Nombre'|trans({}, 'ModuloBundle') }}
                                                </label>
                                                <div class="form-control">
                                                    <span class="input-xlarge uneditable-input">
                                                        {{traduccion.nombre}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-6" col-md-6 col-sm-6>
                            <div class="form-group">
                                <label class="control-label">
                                    {{ 'Categoria'|trans({}, 'ModuloBundle') }}
                                </label>

                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {{ entity.categoria }}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    {{ 'orden'|trans({}, 'ModuloBundle') }}
                                </label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {{ entity.orden }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>   
                    {% if entity.constantes is not empty %}
                        <div class="row">   
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-info">
                                    <span class="badge">
                                        {{ 'valor'|trans({}, 'ModuloBundle') }}
                                    </span>
                                    {{ 'constantes'|trans({}, 'ModuloBundle') }}
                                </li>
                                {% for ec in entity.constantes %}
                                    <li class="list-group-item">
                                        <span class="badge">{{ec.valor}}&nbsp;&nbsp;{{ec.unidad}}</span>
                                        {{ec.nombre}}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>   
                    {%endif%}
                </fieldset>
                <fieldset>
                    <h2>{{ 'Formulas'|trans({}, 'ModuloBundle') }}</h2>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        {% for key,formula in entity.formulas %}
                            <li role="presentation" class="{% if key==0 %}active{% endif%}">
                                <a href="#formula{{key}}" aria-controls="home" role="tab" data-toggle="tab">
                                    {{formula.nombre}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        {% for key,formula in entity.formulas %}
                            <div role="tabpanel" class="tab-pane {% if key==0 %}active{% endif%}" id="formula{{key}}">
                                <div class="row">
                                    <div class="col-lg-6" col-md-6 col-sm-6>
                                        <div class="col-lg-12" col-md-12 col-sm-12>
                                            <ul class="nav nav-tabs" role="tablist">
                                                {% for key,traduccion in formula.translations %}
                                                    <!-- Nav tabs -->
                                                    <li role="presentation" class="{%if key=="es"%}active{%endif%}">
                                                        <a href="#grupoformula{{key}}" aria-controls="home" role="tab" 
                                                           data-toggle="tab">
                                                            {{traduccion.locale}}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                {% for key,traduccion in entity.translations %}
                                                    <div role="tabpanel" class="tab-pane {%if key=="es"%}active{%endif%}" id="grupoformula{{key}}">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                                <div class="form-group ">
                                                                    <label class="control-label">
                                                                        {{ 'Nombre'|trans({}, 'ModuloBundle') }}
                                                                    </label>
                                                                    <div class="form-control">
                                                                        <span class="input-xlarge uneditable-input">
                                                                            {{traduccion.nombre}}
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" col-md-6 col-sm-6>
                                        <div class="col-lg-6" col-md-6 col-sm-6>
                                            <div class="form-group ">
                                                <label class="control-label">
                                                    {{ 'orden'|trans({}, 'ModuloBundle') }}
                                                </label>

                                                <div class="form-control">
                                                    <span class="input-xlarge uneditable-input">
                                                        {{ formula.orden }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" col-md-6 col-sm-6>
                                            <div class="form-group ">
                                                <label class="control-label">
                                                    {{ 'Autoicrementar'|trans({}, 'ModuloBundle') }}
                                                </label>

                                                <div class="form-control">
                                                    <span class="input-xlarge uneditable-input">
                                                        {{ isActive(formula.autoincremental) }}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label class="control-label">
                                                    {{ 'Publicar'|trans({}, 'ModuloBundle') }}
                                                </label>

                                                <div class="form-control">
                                                    <span class="input-xlarge uneditable-input">
                                                        {{ isActive(formula.publicar) }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12" col-md-12 col-sm-12>
                                            <div class="form-group ">
                                                <label class="control-label">
                                                    {{ 'Imagenes'|trans({}, 'ModuloBundle') }}
                                                </label>
                                                <br>
                                                {% if formula.webPath is not null%}
                                                    <a  class="example-image-link" href="{{ asset(formula.webPath) }}" 
                                                        data-lightbox="formula-{{key}}-set" data-title="{{formula.webPath}}">
                                                        <img class="example-image" width="100px;" 
                                                             src="{{ asset(formula.webPath | imagine_filter('upscale800x600')) }}" 
                                                             alt=""/>
                                                    </a>
                                                {% endif %}    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>    
                                <div class="well">
                                    <div class="row">
                                        <div class="col-lg-6" col-md-6 col-sm-6>
                                            <ul class="list-group">
                                                <li class="list-group-item list-group-item-info">
                                                    <span class="badge">
                                                        {{ 'unidad'|trans({}, 'ModuloBundle') }}
                                                    </span>
                                                    {{ 'Variable'|trans({}, 'ModuloBundle') }}
                                                </li>
                                                {% for variable in formula.variables %}
                                                    <li class="list-group-item">
                                                        <span class="badge">{{variable.unidad}}</span>
                                                        ({{variable.simbolo}}) {{variable.nombre}} 
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-lg-6" col-md-6 col-sm-6>
                                            <li class="list-group-item list-group-item-info">
                                                <span class="badge">
                                                    {{ 'Descargar'|trans({}, 'ModuloBundle') }}
                                                </span>
                                                {{ 'Referencia'|trans({}, 'ModuloBundle') }}
                                            </li>
                                            {% for ref in formula.translations %}
                                                <li class="list-group-item">
                                                    <span class="badge badgeDescargar ">
                                                        <a href="{{ asset(ref.webPath) }}" >
                                                            {{ 'Descargar'|trans({}, 'ModuloBundle') }} 
                                                            <span class="glyphicon glyphicon-file"></span> 
                                                        </a>
                                                    </span>
                                                    {{ref.locale}} 
                                                </li>
                                            {% endfor %}
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12" col-md-12 col-sm-12>
                                            <ul class="list-group">
                                                <li class="list-group-item list-group-item-info">
                                                    <span class="badge">
                                                        {{ 'Unidad'|trans({}, 'ModuloBundle') }}
                                                    </span>
                                                    {{ 'ecuacion'|trans({}, 'ModuloBundle') }}
                                                </li>
                                                {% for ec in formula.ecuacion %}
                                                    <li class="list-group-item">
                                                        {% for un in ec.unidadResultado %}
                                                            <span class="badge">
                                                                {{un.unidad.simbolo}}
                                                                {%if un.principal ==true%}
                                                                    (principal)
                                                                {%endif%}
                                                            </span>
                                                        {% endfor %}
                                                        {{ec.expresion}} 
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script src="{{ asset('bundles/modulo/lightbox2/js/lightbox.min.js') }}"></script>
{% endblock %}