<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>  Ractt {{ 'Reconstructor Analítico'|trans({}, 'TecsproFrontBundle') }}</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('bundles/tecsprofront/template/css/AdminLTE.css') }}">
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">
            body{
                background: url({{ asset('bundles/user/img/fondo.jpg') }}) no-repeat fixed 0 #000;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                background-size: cover;
                -o-background-size: cover;
                padding-bottom: 40px;
                padding-top: 0 !important;
            }
        </style>
    </head>
    <body class="">

        <div class="login-box">
            <div class="login-logo">
                <img src="{{ asset('bundles/user/img/ractt_logo_login.png') }}" style="max-height: 100%; max-width: 100%;">
            </div><!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Versión 4.0</p>
                <p class="login-box-msg">Iniciar sesión</p>
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="{{ type }}">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div><!-- /.login-box-body -->
        </div><!-- /.login-box -->
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap.min.js') }}"></script>

    </body>
</html>
