<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ 'views.layout.bannersadmin'|trans({}, 'MWSimpleAdminCrudBundle') }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap-checkbox.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-fileupload/bootstrap-fileupload.min.css') }}" rel="stylesheet" id="bootstrap-style">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/select2/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrapValidator.min.css') }}">
        <link href="{{ asset('bundles/mwsimpleadmincrud/datetime/css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/modulo/css/metisMenu.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/modulo/css/dashboard.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/crud.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/modulo/css/doctos.css') }}" rel="stylesheet">
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap.min.js') }}"></script>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/bootstrap-datetimepicker.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/select2/select2.min.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/select2/select2.min.js') }}"></script>
        <link href="{{ asset('bundles/tecsprofront/pnotify/css/pnotify.custom.min.css') }}" media="all" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{{ asset('bundles/tecsprofront/pnotify/js/pnotify.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/tecsprofront/js/notifiaciones.js') }}"></script>


    {% block stylesheets %}{% endblock %}
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('bundles/mwsimpleadmincrud/images/favicon.ico') }}">
</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:;">
                    Ractt {{ 'Reconstructor Analítico'|trans({}, 'TecsproFrontBundle') }}
                </a>
            </div>

            <ul class="nav navbar-top-links navbar-right">

                {% if is_granted("ROLE_SUPERADMIN") %}
                    <li><strong id="lblModuloSeleccionado"></strong></li>
                    <li>
                        <a id="btnModalSeleccionarModulo" href="javascript:;" 
                           title="{{ 'ToolTip.SeleccionarModulos'|trans({}, 'TecsproFrontBundle') }}">
                            {{ 'Seleccionar Modulos'|trans({}, 'TecsproFrontBundle') }}
                        </a>
                    </li> 
                {% endif %}

                <li>
                    <a href="{{ path('fos_user_profile_edit') }}" 
                       title="{{ 'tooltip.perfil'|trans({}, 'UserBundle') }}">
                        {{ 'layout.perfil'|trans({}, 'UserBundle') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('fos_user_change_password') }}" 
                       title="{{ 'tooltip.change.password'|trans({}, 'UserBundle') }}">
                        {{ 'layout.change.password'|trans({}, 'UserBundle') }}
                    </a>
                </li>
                <li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('fos_user_security_logout') }}"
                           title="{{ 'tooltip.logout'|trans({}, 'UserBundle') }}">
                            {{ 'layout.logout'|trans({}, 'UserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}" 
                           title="{{ 'tooltip.login'|trans({}, 'UserBundle') }}">

                            {{ 'layout.login'|trans({}, 'UserBundle') }}
                        </a>
                    {% endif %}
                </li>
            </ul>


            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    {% block menu %}
                        {{ knp_menu_render('MWSimpleAdminCrudBundle:Builder:adminMenu', {'currentClass': 'active'}) }}
                    {% endblock %}
                </div>
            </div>
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    {% if (app.session.get('moduloSeleccionado') is not defined)or(app.session.get('moduloSeleccionado') is null) %}
                        <div class="alert alert-warning" role="alert">
                            {{ 'Seleccione un modulo'|trans({}, 'TecsproFrontBundle') }}
                        </div>
                    {% endif %}
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                {{ flashMessage|trans({}, 'MWSimpleAdminCrudBundle') }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% block page %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{{ render(controller('ModuloBundle:Modulo:seleccionarModulos')) }}
<script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-checkbox.js') }}"></script>
<script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-fileupload/bootstrap-fileupload.min.js') }}"></script>
<script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/bootstrapValidator.min.js') }}"></script>
<script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/language/es_ES.js') }}"></script>
<script src="{{ asset('bundles/modulo/js/metisMenu.min.js') }}"></script>
<script src="{{ asset('bundles/modulo/js/back.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var mnj_error = "{{ 'Seleccione un modulo para continuar'|trans({}, 'TecsproFrontBundle') }}";

        var modulo = "{{app.session.get('moduloSeleccionado')}}";

        var moduloNombre = "{{app.session.get('moduloNombreSeleccionado')}}";
        if (moduloNombre !== "")
            $("#lblModuloSeleccionado").html(moduloNombre + " seleccionado");
        $(".btnControl").click(function (e) {
            if (modulo === "") {
                mostrarNotifiacion("Alerta", mnj_error, "error");
                e.preventDefault();
            } else {
                return true;
            }
        });
    });
</script>
{% block javascript %}

{% endblock %}

</body>
</html>