{% macro arcVehiculo(form) %}
    <div class="row rowremoveVehiculo well">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class='row'>
                <div class="col-lg-5 col-md-5 col-sm-5"
                     title="{{ 'ToolTip.ARC.Vehiculo.nombre'|trans({}, 'TecsproARCBundle') }}">
                    {{ form_row(form.nombre) }}
                </div>

                <div class="col-lg-5 col-md-5 col-sm-5" onchange="movimientoPrevioALaColision(this);"
                     title="{{ 'ToolTip.ARC.Vehiculo.movimientoPrevioALaColision'|trans({}, 'TecsproARCBundle') }}">
                    {{ form_row(form.movimientoPrevioALaColision) }}
                </div>                

                <div class="col-lg-2 col-md-2 col-sm-2"
                     title="{{ 'ToolTip.ARC.Vehiculo.peaton'|trans({}, 'TecsproARCBundle') }}">
                    {{ form_row(form.peaton) }}
                </div>
            </div>
            <div class='row'>
                <div class="col-lg-3 col-md-3 col-sm-3"
                     title="{{ 'ToolTip.ARC.Vehiculo.velocidadInicial'|trans({}, 'TecsproARCBundle') }}">             
                    {{ form_row(form.velocidadInicial) }}
                </div>  
                <div class="col-lg-3 col-md-3 col-sm-3"
                     title="{{ 'ToolTip.ARC.Vehiculo.unidadVelocidadInicial'|trans({}, 'TecsproARCBundle') }}">
                    {{ form_row(form.unidadVelocidadInicial) }}
                </div> 
                <div class="col-lg-3 col-md-3 col-sm-3"
                     title="{{ 'ToolTip.ARC.Vehiculo.velocidadImpacto'|trans({}, 'TecsproARCBundle') }}"> 
                    {{ form_row(form.velocidadImpacto) }}
                </div> 
                <div class="col-lg-3 col-md-3 col-sm-3"
                     title="{{ 'ToolTip.ARC.Vehiculo.unidadVelocidadImpacto'|trans({}, 'TecsproARCBundle') }}">            
                    {{ form_row(form.unidadVelocidadImpacto) }}
                </div>             
            </div>

            <div class='row'>
                <div class="col-lg-4 col-md-4 col-sm-4"
                     title="{{ 'ToolTip.ARC.Vehiculo.tiempoReaccion'|trans({}, 'TecsproARCBundle') }}"> 
                    {{ form_row(form.tiempoReaccion) }}
                </div>             
                <div class="col-lg-4 col-md-4 col-sm-4"
                     title="{{ 'ToolTip.ARC.Vehiculo.tiempoPreimpactoAConsiderar'|trans({}, 'TecsproARCBundle') }}">
                    {{ form_row(form.tiempoPreimpactoAConsiderar) }}
                </div >  
                <div class="col-lg-4 col-md-4 col-sm-4"
                     title="{{ 'ToolTip.ARC.Vehiculo.desaceleracion'|trans({}, 'TecsproARCBundle') }}"> 
                    {{ form_label(form.desaceleracion) }}<br>
                    {{ form_widget(form.desaceleracion) }}
                </div>                    
            </div>
        </div>
    </div>
{% endmacro %}

<h4 title="{{ 'ToolTip.ARC.VehiculoListado'|trans({}, 'TecsproARCBundle') }}">
    {{ 'Vehiculos ARC'|trans({}, 'TecsproARCBundle') }}
</h4>

<div data-prototype="{{ _self.arcVehiculo(form.vehiculos.vars.prototype, false)|e }}" class="vehiculos">
    {% for key, arcVehiculo in form.vehiculos %}
        {{ _self.arcVehiculo(arcVehiculo, key) }}
    {% endfor %}
</div>

<script src="{{ asset('bundles/tecsproarc/js/formulas_movimiento_vehiculo.js') }}"></script>

<script>

                    function movimientoPrevioALaColision($div) {

                        $valor = $($div).find('select').val();
                        $vehiculoId = $($div).find('select').attr('id');
                        $vehiculo = 0;
                        $(".txtMovimientoPrevioALaColisionArc").each(function (i) {
                            if ($vehiculoId === $(this).attr("id")) {
                                $vehiculo = i;
                            }
                        });

                        //vehiculo 1
                        if ($valor === "MRU+MRV") {
                            $($(".txtTiempoPreimpactoAConsiderarArc")[$vehiculo]).attr('disabled', 'disabled');

                            $($(".txtUnidadVelocidadImpactoArc")[$vehiculo]).removeAttr('disabled');
                            $($(".txtVelocidadImpactoArc")[$vehiculo]).removeAttr('disabled');
                            $($(".txtTiempoReaccionArc")[$vehiculo]).removeAttr('disabled');
                            $($(".txtDesaceleracionArc")[$vehiculo]).removeAttr('disabled');

                        } else {
                            $($(".txtTiempoPreimpactoAConsiderarArc")[$vehiculo]).removeAttr('disabled');

                            $($(".txtUnidadVelocidadImpactoArc")[$vehiculo]).attr('disabled', 'disabled');
                            $($(".txtVelocidadImpactoArc")[$vehiculo]).attr('disabled', 'disabled');
                            $($(".txtTiempoReaccionArc")[$vehiculo]).attr('disabled', 'disabled');
                            $($(".txtDesaceleracionArc")[$vehiculo]).attr('disabled', 'disabled');
                        }


                    }

                    jQuery(document).ready(function () {

                        jQuery("#tecspro_arcbundle_arccampos_cantidadVehiculos").change(function () {
                            var cantidad_de_vehiculos = jQuery("#tecspro_arcbundle_arccampos_cantidadVehiculos").val();

                            if (cantidad_de_vehiculos === "1") {

                                var count = 0;

                                jQuery('.rowremoveVehiculo').each(function () {

                                    if (count == 1) {

                                        jQuery(this).remove();
                                    }

                                    count = 1;
                                });
                            } else if (cantidad_de_vehiculos === "2") {

                                addForm(collectionArcVehiculo, jQuery('.vehiculos'));
                                $($(".txtMovimientoPrevioALaColisionArc")[1]).change();
                            }
                        });



                        collectionArcVehiculo = jQuery('.vehiculos');


                        var cantidad_de_vehiculos = jQuery("#tecspro_arcbundle_arccampos_cantidadVehiculos").val();

                        if (cantidad_de_vehiculos == 1) {

                            var count = 0;

                            jQuery('.rowremoveVehiculo').each(function () {

                                if (count == 1) {

                                    jQuery(this).remove();
                                }

                                count = 1;
                            });
                        }
                        movimientoPrevioALaColision();


                    });


</script>